<!-- INICIO HEADER INNER -->
<div class="page-header-inner">
    <!-- INICIO LOGO -->
    <div class="page-logo">
        <a ui-sref="dashboard"> <p class="logo-default" style="font-size: 20px">
            <img src="{{settings.layoutPath}}/img/logo.png" alt="logo" class="logo-default"
                 style="max-height:280px;width:140px; margin-top: -15px;" onshow="this.height > 280 ? 280: true" /></p> </a>
        <div class="menu-toggler sidebar-toggler">
            <span></span>
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <!-- FIN LOGO -->
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
    <!--<form class="search-form hide" action="#" method="GET">-->
        <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="Search..." name="query">-->
            <!--<span class="input-group-btn">-->
                <!--<a href="javascript:;" class="btn submit">-->
                    <!--<i class="icon-magnifier"></i>-->
                <!--</a>-->
            <!--</span>-->
        <!--</div>-->
    <!--</form>-->
    <!-- END HEADER SEARCH BOX -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span></span>
    </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu" ng-controller="UserSessionController">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- BEGIN LANGUAGE BAR -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-language">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <img alt="" src="{{lang.pathBandera}}">
                    <span class="langname"> {{lang.clave}} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li ng-class="{'active': language.active}" ng-repeat="language in langs" ng-click="$parent.changeLanguage(language)">
                        <a href="#">
                            <img alt="" src="{{language.pathBandera}}"> {{ ('LANGUAGE.' + language.clave) | translate }} </a>
                    </li>

                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<img alt="" src="{{settings.globalPath}}/img/flags/de.png"> German </a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<img alt="" src="{{settings.globalPath}}/img/flags/ru.png"> Russian </a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<img alt="" src="{{settings.globalPath}}/img/flags/fr.png"> French </a>-->
                    <!--</li>-->
                </ul>
            </li>
            <!-- END LANGUAGE BAR -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="{{(userLogged.avatar == null) ? 'appData/img/users/default.png' : userLogged.avatar}}" />
                    <span class="username username-hide-on-mobile"> {{userLogged.first_name}} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li ng-if="!$parent.isAdmin">
                        <a ui-sref="profile.dashboard" >
                            <i class="icon-user"></i> {{'HEADER.MY_PROFILE' | translate}} </a>
                    </li>

                    <li class="divider"> </li>
                    <li>
                        <a href="#" ng-click="loggOut()">
                            <i class="icon-key"></i> {{'HEADER.LOGOUT' | translate}} </a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->

        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->
