<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
            <!--<form class="sidebar-search sidebar-search-bordered" action="#" method="POST">-->
                <!--<a href="javascript:;" class="remove">-->
                    <!--<i class="icon-close"></i>-->
                <!--</a>-->
                <!--<div class="input-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search...">-->
                    <!--<span class="input-group-btn">-->
                        <!--<a href="javascript:;" class="btn submit">-->
                            <!--<i class="icon-magnifier"></i>-->
                        <!--</a>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</form>-->
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="start nav-item">
            <a ui-sref="dashboard">
                <i class="icon-home"></i>
                <span class="title">{{'PAGE_BAR_DASH' | translate}}</span>
            </a>
        </li>

        <li class="nav-item" ng-if="$parent.isAdmin">
            <a ui-sref="users" id="sidebar_menu_link_users">
                <i class="icon-user"></i>
                <span class="title">{{'DASHBOARD.USERS_ACTIVE' | translate}}</span>
            </a>
        </li>
		<li class="nav-item" ng-if="!$parent.isAdmin">
            <a ui-sref="profile.dashboard" id="sidebar_menu_link_profile">
                <i class="icon-user"></i>
                <span class="title">{{'PROFILE' | translate}}</span>
            </a>
        </li>
		<li class="nav-item"  ng-if="$parent.isAdmin">
            <a ui-sref="organizadores" >
                <i class="icon-users"></i>
                <span class="title">{{'DASHBOARD.ORGANIZERS' | translate}}</span>
            </a>
        </li>
		<li class="nav-item">
            <a ui-sref="eventos" >
                <i class="icon-map"></i>
                <span class="title">{{'EVENTS' | translate}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a ui-sref="eventosT" >
                <i class="icon-user-following"></i>
                <span class="title">{{'ASSISTANTS' | translate}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a ui-sref="finanzas">
                <i class="icon-wallet"></i>
                <span class="title">{{'FINANCES' | translate}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a ui-sref="configuracion">
                <i class="fa fa-cog"></i>
                <span class="title">{{'CONFIGURATIONS' | translate}}</span>
            </a>
        </li>
        <li class="nav-item"  ng-if="$parent.isAdmin">
            <a ui-sref="notificacion" >
                <i class="icon-wallet"></i>
                <span class="title">{{'NOTIFICATION' | translate}}</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
