<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Datos Generales</span>

				</div>

			</div>
			<div class="portlet-body">
					<div class="general-item-list">
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									<a href="" class="item-name primary-link">Nombre</a>
								</div>
							</div>
							<div class="item-body"> {{organizador.organization.name}} </div>
						</div>
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									<a href="" class="item-name primary-link">Descripcion</a>
								</div>
							</div>
							<div class="item-body">{{organizador.organization.description}} </div>
						</div>

						<!--<div class="item">-->
							<!--<div class="item-head">-->
								<!--<div class="item-details">-->
									<!--<a href="" class="item-name primary-link">Aprobar</a>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="item-body">-->
								<!--<select class="form-control input-small select2me" name="selecAprov" required-->
										<!--ng-model="user.usua_tius_id" convert-to-number  >-->
									<!--<option value="">Seleccione ...</option>-->
									<!--<option value="2">Aprobar</option>-->
									<!--<option value="3">Rechazar</option>-->
								<!--</select>-->
							<!--</div>-->

						<!--</div>-->
					</div>
				<!--<button class="btn btn-primary " ng-click="uploader.uploadAll()" type="submit">Aceptar</button>-->
			</div>
		</div>
		<!-- END PORTLET -->
	</div>
</div>

<!-- BEGIN MAIN JS-->
<script>
	Profile.init(); // init page demo
</script>
<!-- BEGIN MAIN JS -->
