<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">{{'ORGANIZER.ORG_DATA' | translate}}</span>

				</div>

			</div>
			<div class="portlet-body">
				<div class="scroller" style="height: 400px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
					<div class="general-item-list">
						<div class="item" style="margin-left: 10%">
							<div class="item-body">
								<img style="max-height:425px;width:300px;" onshow="this.height > 425 ? 425: true"
										src="{{(organizador.organization.picture == null) ? 'appData/img/events/no-disponible.png' : organizador.organization.picture}}" class="img-responsive" alt=""></div>
						</div>
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									<a href="" class="item-name primary-link">{{'ORGANIZER.NAME' | translate}}</a>
								</div>
							</div>
							<div class="item-body">{{organizador.organization.name}} </div>
						</div>
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									<a href="" class="item-name primary-link">{{'ORGANIZER.DESCRIPTION' | translate}}</a>
								</div>
							</div>
							<div class="item-body"> {{organizador.organization.description}} </div>
						</div>

						<!--<div class="item">-->
							<!--<div class="item-head">-->
								<!--<div class="item-details">-->
									<!--<a href="" class="item-name primary-link">Pais</a>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="item-body">Costa Rica</div>-->
						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
		<!-- END PORTLET -->
	</div>
</div>
<!--<div class="row">-->
	<!--<div class="col-md-12">-->
		<!--&lt;!&ndash; BEGIN PORTLET &ndash;&gt;-->
		<!--<div class="portlet light ">-->
			<!--<div class="portlet-title">-->
				<!--<div class="caption caption-md">-->
					<!--<i class="icon-bar-chart theme-font hide"></i>-->
					<!--<span class="caption-subject font-blue-madison bold uppercase">Lista de Eventos</span>-->
					<!--<span class="caption-helper">10 pendientes</span>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="portlet-body">-->
				<!--<div class="row number-stats margin-bottom-30">-->


				<!--</div>-->
				<!--<div class="table-scrollable table-scrollable-borderless">-->
					<!--<table class="table table-hover table-light">-->
						<!--<thead>-->
						<!--<tr class="uppercase">-->
							<!--<th colspan="2"> Nombre </th>-->
							<!--<th> Fecha</th>-->
							<!--<th> Ganancias </th>-->
							<!--<th> Vendidos </th>-->
							<!--<th> Totales </th>-->
							<!--<th> Porcentaje </th>-->
						<!--</tr>-->
						<!--</thead>-->
						<!--<tr>-->
							<!--<td class="fit">-->
								<!--<img class="user-pic rounded" src="{{settings.assetsPath}}/pages/media/users/avatar4.jpg"> </td>-->
							<!--<td>-->
								<!--<a href="#" class="primary-link">EDM</a>-->
							<!--</td>-->
							<!--<td> 10/12/2017</td>-->
							<!--<td> $345 </td>-->
							<!--<td> 45 </td>-->
							<!--<td> 124 </td>-->
							<!--<td>-->
								<!--<span class="bold theme-font">80%</span>-->
							<!--</td>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<td class="fit">-->
								<!--<img class="user-pic rounded" src="{{settings.assetsPath}}/pages/media/users/avatar5.jpg"> </td>-->
							<!--<td>-->
								<!--<a href="#" class="primary-link">Rock</a>-->
							<!--</td>-->
							<!--<td> 10/12/2017</td>-->
							<!--<td> $560 </td>-->
							<!--<td> 12 </td>-->
							<!--<td> 24 </td>-->
							<!--<td>-->
								<!--<span class="bold theme-font">67%</span>-->
							<!--</td>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<td class="fit">-->
								<!--<img class="user-pic rounded" src="{{settings.assetsPath}}/pages/media/users/avatar6.jpg"> </td>-->
							<!--<td>-->
								<!--<a href="#" class="primary-link">Circus</a>-->
							<!--</td>-->
							<!--<td> 10/12/2017</td>-->
							<!--<td> $1,345 </td>-->
							<!--<td> 45 </td>-->
							<!--<td> 46 </td>-->
							<!--<td>-->
								<!--<span class="bold theme-font">98%</span>-->
							<!--</td>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<td class="fit">-->
								<!--<img class="user-pic rounded" src="{{settings.assetsPath}}/pages/media/users/avatar7.jpg"> </td>-->
							<!--<td>-->
								<!--<a href="#" class="primary-link">Teather</a>-->
							<!--</td>-->
							<!--<td> 10/12/2017</td>-->
							<!--<td> $645 </td>-->
							<!--<td> 50 </td>-->
							<!--<td> 89 </td>-->
							<!--<td>-->
								<!--<span class="bold theme-font">58%</span>-->
							<!--</td>-->
						<!--</tr>-->
					<!--</table>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash; END PORTLET &ndash;&gt;-->
	<!--</div>-->
<!--</div>-->

<!-- BEGIN MAIN JS-->
<script>
	Profile.init(); // init page demo
</script>
<!-- BEGIN MAIN JS -->
