<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">{{'ORGANIZER.ORG_DATA' | translate}}</span>

                </div>

            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 500px;" data-always-visible="1" data-rail-visible1="0"
                     data-handle-color="#D7DCE2">
                    <form class="form-horizontal form-row-sepe" ng-submit="submit($parent.user)" name="organizationForm"
                          novalidate>
                        <div class="general-item-list">
                            <div class="item" style="margin-left: 10%">
                                <div class="item-body">
                                    <div class="form-group ">
                                        <div class="col-md-12">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 350px; height: 150px;">
                                                    <img src="{{(organizador.organization.picture == null) ? 'https://www.placehold.it/500x250/EFEFEF/AAAAAA&amp;text=Select+image' : organizador.organization.picture}}"
                                                         alt="" /></div>
                                                <div class="fileinput-preview fileinput-exists thumbnail"
                                                     data-trigger="fileinput"
                                                     style="max-width: 500px; max-height: 250px;"></div>
                                                <div>
                                                            <span class="btn default btn-file">
                                                                <span class="fileinput-new" > {{'SELECT_IMAGE' | translate}} </span>
                                                                <span class="fileinput-exists" > {{'CHANGE_IMAGE' | translate}} </span>
                                                                <input type="file" file-model="$parent.fileOrg"> </span>
                                                    <a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
                                                        {{'DELETE' | translate}} </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<img style="max-height:425px;width:200px;" onshow="this.height > 500 ? 500: true"-->
                                         <!--src="{{(organizador.organization.picture == null) ? 'appData/img/events/no-disponible.png' : organizador.organization.picture}}"-->
                                         <!--class="img-responsive" alt="">--></div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">{{'ORGANIZER.NAME' | translate}}</a>
                                    </div>
                                </div>
                                <div class="form-group required"
                                     ng-class="{ 'has-error': organizationForm.nombre.$touched && organizationForm.nombre.$invalid }">
                                    <div class="col-md-4">
                                        <input type="text" placeholder="{{'ORGANIZER.NAME' | translate}}..." required name="nombre"
                                               data-required-error="{{'ERROR.NAME_ERR_REQ' | translate}}" minlength="3"
                                               maxlength="191"
                                               ng-model="organizador.organization.name" class="form-control">
                                        <div class="help-block" ng-messages="organizationForm.nombre.$error"
                                             ng-if="organizationForm.nombre.$touched">
                                            <p ng-message="minlength">{{'ERROR.NAME_ERR_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.NAME_ERR_MAXL' | translate}}</p>
                                            <p ng-message="required">{{'ERROR.NAME_ERR_REQ' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">{{'ORGANIZER.DESCRIPTION' | translate}}</a>
                                    </div>
                                </div>
                                <div class="form-group required"
                                     ng-class="{ 'has-error': organizationForm.descripcion.$touched && organizationForm.descripcion.$invalid }">
                                    <div class="col-md-9">
                                        <textarea type="text" name="descripcion" style="height: 100px"
                                                  data-required-error="{{'ERROR.DESCRIP_REQ' | translate}}"
                                                  placeholder="{{'ORGANIZER.DESCRIPTION' | translate}}..."
                                                  minlength="3"  maxlength="191" required
                                                  ng-model="organizador.organization.description"
                                                  class="form-control">
                                        </textarea>
                                        <div class="help-block" ng-messages="organizationForm.descripcion.$error"
                                             ng-if="organizationForm.descripcion.$touched">
                                            <p ng-message="minlength">{{'ERROR.DESCRIP_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.DESCRIP_MAXL' | translate}}</p>
                                            <p ng-message="required">{{'ERROR.DESCRIP_REQ' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="item">-->
                            <!--<div class="item-head">-->
                            <!--<div class="item-details">-->
                            <!--<a href="" class="item-name primary-link">Pais</a>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="item-body">Costa Rica</div>-->
                            <!--</div>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END PORTLET -->
    </div>
</div>
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--&lt;!&ndash; BEGIN PORTLET &ndash;&gt;-->
<!--<div class="portlet light ">-->
<!--<div class="portlet-title">-->
<!--<div class="caption caption-md">-->
<!--<i class="icon-bar-chart theme-font hide"></i>-->
<!--<span class="caption-subject font-blue-madison bold uppercase">Lista de Eventos</span>-->
<!--<span class="caption-helper">10 pendientes</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="portlet-body">-->
<!--<div class="row number-stats margin-bottom-30">-->


<!--</div>-->
<!--<div class="table-scrollable table-scrollable-borderless">-->
<!--<table class="table table-hover table-light">-->
<!--<thead>-->
<!--<tr class="uppercase">-->
<!--<th colspan="2"> Nombre </th>-->
<!--<th> Fecha</th>-->
<!--<th> Ganancias </th>-->
<!--<th> Vendidos </th>-->
<!--<th> Totales </th>-->
<!--<th> Porcentaje </th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tr>-->
<!--<td class="fit">-->
<!--<img class="user-pic rounded" src="{{settings.assetsPath}}/pages/media/users/avatar4.jpg"> </td>-->
<!--<td>-->
<!--<a href="#" class="primary-link">EDM</a>-->
<!--</td>-->
<!--<td> 10/12/2017</td>-->
<!--<td> $345 </td>-->
<!--<td> 45 </td>-->
<!--<td> 124 </td>-->
<!--<td>-->
<!--<span class="bold theme-font">80%</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td class="fit">-->
<!--<img class="user-pic rounded" src="{{settings.assetsPath}}/pages/media/users/avatar5.jpg"> </td>-->
<!--<td>-->
<!--<a href="#" class="primary-link">Rock</a>-->
<!--</td>-->
<!--<td> 10/12/2017</td>-->
<!--<td> $560 </td>-->
<!--<td> 12 </td>-->
<!--<td> 24 </td>-->
<!--<td>-->
<!--<span class="bold theme-font">67%</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td class="fit">-->
<!--<img class="user-pic rounded" src="{{settings.assetsPath}}/pages/media/users/avatar6.jpg"> </td>-->
<!--<td>-->
<!--<a href="#" class="primary-link">Circus</a>-->
<!--</td>-->
<!--<td> 10/12/2017</td>-->
<!--<td> $1,345 </td>-->
<!--<td> 45 </td>-->
<!--<td> 46 </td>-->
<!--<td>-->
<!--<span class="bold theme-font">98%</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td class="fit">-->
<!--<img class="user-pic rounded" src="{{settings.assetsPath}}/pages/media/users/avatar7.jpg"> </td>-->
<!--<td>-->
<!--<a href="#" class="primary-link">Teather</a>-->
<!--</td>-->
<!--<td> 10/12/2017</td>-->
<!--<td> $645 </td>-->
<!--<td> 50 </td>-->
<!--<td> 89 </td>-->
<!--<td>-->
<!--<span class="bold theme-font">58%</span>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; END PORTLET &ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!-- BEGIN MAIN JS-->
<script>
    Profile.init(); // init page demo
</script>
<!-- BEGIN MAIN JS -->
<style>
    .form-group.required .control-label:before {
        content: "*";
        color: red;
    }
</style>