<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li ng-if="$parent.isAdmin">
            <a ui-sref="organizadores">{{'PAGE_BAR_ORG' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="profile.dashboard">{{'PROFILE' | translate}}</a>
        </li>
    </ul>

</div>

<div class="col-md-9 col-sm-12">
    <h3 class="page-title"> {{'ORGANIZER.PROFILE' | translate}}</h3>
</div>
<div class="col-md-3 col-sm-12" style="margin-bottom: 25px;margin-top: 25px" ng-controller="EditUserProfileController">
    <button type="button" style="float: right" class="btn btn-primary"
            ng-if="!$parent.isAdmin" ng-click="submit($parent.organizador)">{{'ACEPT' | translate}}
    </button>
</div>


<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="EditUserProfileController">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <form class="form-vertical form-row-sepe" name="organizatorForm"
                  novalidate>
                <!-- PORTLET MAIN -->
                <div class="portlet light ">

                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">{{'ORGANIZER.REPRE_DATA' | translate}}</span>
                        </div>
                    </div>

                    <!-- SIDEBAR foto usuario -->
                    <div class="profile-userpic">
                        <div class="form-group ">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img src="{{(organizador.avatar == null) ? 'appData/img/users/default.png' : organizador.avatar}}"
                                         alt="" class="img-responsive" ng-if="!myImage"/>
                                </div>
                                <div ng-if="!myImage" class="fileinput-preview fileinput-exists thumbnail"
                                     data-trigger="fileinput"></div>
                                <div>

                                                            <span class="btn default btn-file">
                                                                <span class="fileinput-new"> {{'SELECT_IMAGE' | translate}} </span>
                                                                <span class="fileinput-exists"> {{'CHANGE_IMAGE' | translate}} </span>
                                                                <input id="fileUser" type="file"
                                                                       file-model="$parent.file"> </span>
                                    <a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
                                        {{'DELETE' | translate}} </a>
                                </div>
                            </div>
                        </div>
                        <!--<div>Select an image file: <input type="file" id="fileInput" /></div>-->
                        <div ng-if="myImage">
                            <div class="cropArea">
                                <img-crop image="myImage" result-image-format="image/jpeg" on-change="changeFile(myCroppedImage)" result-image="myCroppedImage"></img-crop>
                            </div>
                            <!--<button class="btn btn-primary" title="Preview" data-target="#imagenModal"-->
                                    <!--data-toggle="modal">Preview</button>-->
                        </div>
                        <!--<div id="imagenModal" class="modal fade" role="dialog" aria-hidden="true">-->
                            <!--<div class="modal-dialog" >-->
                                <!--<div class="modal-content">-->
                                    <!--<div class="modal-header">-->
                                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>-->
                                        <!--<h4 class="modal-title">Preview</h4>-->
                                    <!--</div>-->
                                    <!--<div class="modal-body" >-->
                                        <!--<div><img ng-src="{{myCroppedImage}}"/></div>-->
                                    <!--</div>-->
                                    <!--<div class="modal-footer">-->
                                        <!--&lt;!&ndash;<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>&ndash;&gt;-->
                                        <!--<button type="button" class="btn btn-primary" data-dismiss="modal">-->
                                            <!--<i class="fa fa-check"></i> Aceptar-->
                                        <!--</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <!-- fin SIDEBAR foto usuario -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="row">
                        <div class="profile-usertitle">
                            <div class="form-group required"
                                 ng-class="{ 'has-error': organizatorForm.nombre.$touched && organizatorForm.nombre.$invalid }">
                                <div class="col-md-6">
                                    <input type="text" placeholder="{{'ORGANIZER.NAME' | translate}} ..." required name="nombre"
                                           data-required-error="{{'ERROR.NAME_ERR_REQ' | translate}}" minlength="3"
                                           maxlength="191"
                                           ng-model="organizador.first_name" class="form-control">
                                    <div class="help-block" ng-messages="organizatorForm.nombre.$error"
                                         ng-if="organizatorForm.nombre.$touched">
                                        <p ng-message="minlength">{{'ERROR.NAME_ERR_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.NAME_ERR_MAXL' | translate}}</p>
                                        <p ng-message="required">{{'ERROR.NAME_ERR_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': organizatorForm.apellido.$touched && organizatorForm.apellido.$invalid }">
                                <div class="col-md-6">
                                    <input type="text" placeholder="{{'USER.LAST_NAME' | translate}} ..." required name="apellido"
                                           data-required-error="{{'ERROR.LAST_NAME_REQ' | translate}}" minlength="3"
                                           maxlength="191"
                                           ng-model="organizador.last_name" class="form-control">
                                    <div class="help-block" ng-messages="organizatorForm.apellido.$error"
                                         ng-if="organizatorForm.apellido.$touched">
                                        <p ng-message="minlength">{{'ERROR.LAST_NAME_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.LAST_NAME_MAXL' | translate}}</p>
                                        <p ng-message="required">{{'ERROR.LAST_NAME_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="profile-usertitle-job"> Developer</div>-->
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <!--<div class="profile-userbuttons">-->
                    <!--<button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>-->
                    <!--<button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>-->
                    <!--</div>-->
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <!--<div class="profile-usermenu">-->
                    <!--<ul class="nav">-->
                    <!--<li ng-class="{active: $state.includes('profile.dashboard')}">-->
                    <!--<a ui-sref="profile.dashboard">-->
                    <!--<i class="icon-home"></i> Overview </a>-->
                    <!--</li>-->
                    <!--<li ng-class="{active: $state.includes('profile.account')}">-->
                    <!--<a ui-sref="profile.account">-->
                    <!--<i class="icon-settings"></i> Account Settings </a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#/todo">-->
                    <!--<i class="icon-check"></i> Tasks </a>-->
                    <!--</li>-->
                    <!--<li ng-class="{active: $state.includes('profile.help')}">-->
                    <!--<a ui-sref="profile.help">-->
                    <!--<i class="icon-info"></i> Help </a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!-- END MENU -->
                    <div class="row" style="padding-top: 10px">
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">
                                    <a href="" class="item-name primary-link">{{'USER.BIRTHDATE' | translate}}</a>
                                </div>
                            </div>
                            <script>
                                $('.date-picker').datepicker({
                                    rtl: App.isRTL(),
                                    autoclose: true,
                                    language: 'es-ES'
                                });
                            </script>
                            <div class="item-body">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': organizatorForm.fechaNac.$touched && organizatorForm.fechaNac.$invalid }">
                                    <div class="col-md-6">
                                        <div class="input-group input-medium date date-picker"
                                             data-date-format="yyyy-mm-dd">
                                            <input type="text" class="form-control" id="inputDate" name="fechaNac"
                                                   ng-model="organizador.birth_date" required readonly>
                                            <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                        </div>
                                        <div class="help-block" ng-messages="organizatorForm.fechaNac.$error"
                                             ng-if="organizatorForm.fechaNac.$touched">
                                            <p ng-message="required">{{'ERROR.BIRTH_ERR_REQ' | translate}}</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET MAIN -->
                <!-- PORTLET MAIN -->
                <div class="portlet light">
                    <!-- STAT -->
                    <!--<div class="row list-separated profile-stat">-->
                    <!--<div class="col-md-4 col-sm-4 col-xs-6">-->
                    <!--<div class="uppercase profile-stat-title"> 37</div>-->
                    <!--<div class="uppercase profile-stat-text"> Projects</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 col-sm-4 col-xs-6">-->
                    <!--<div class="uppercase profile-stat-title"> 51</div>-->
                    <!--<div class="uppercase profile-stat-text"> Tasks</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 col-sm-4 col-xs-6">-->
                    <!--<div class="uppercase profile-stat-title"> 61</div>-->
                    <!--<div class="uppercase profile-stat-text"> Uploads</div>-->
                    <!--</div>-->
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">{{'ORGANIZER.CONTACT_PROFILE' | translate}}</span>
                        </div>
                    </div>
                    <!--</div>-->
                    <!-- END STAT -->
                    <div>
                        <!--<h4 class="profile-desc-title">Enlaces para </h4>-->
                        <!--<span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>-->
                        <div class="row">
                            <div class="margin-top-20 profile-desc-link">
                                <i class="fa fa-globe"></i>
                                <div class="form-group required " style="margin-bottom: 0%"
                                     ng-class="{ 'has-error': organizatorForm.email.$touched && organizatorForm.email.$invalid }">
                                    <div class="col-md-11">
                                        <input type="email" class="form-control" id="inputEmail" name="email"
                                               ng-model="organizador.email"
                                               placeholder="Email" minlength="5" maxlength="45" required>
                                        <div class="help-block" ng-messages="organizatorForm.email.$error"
                                             ng-if="organizatorForm.email.$touched">
                                            <p ng-message="minlength">{{'ERROR.EMAIL_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.EMAIL_MAXL' | translate}}</p>
                                            <p ng-message="email">{{'ERROR.EMAIL_ERR_EMAIL' | translate}}</p>
                                            <p ng-message="required">{{'ERROR.EMAIL_ERR_EMAIL' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="margin-top-20 profile-desc-link">
                                <i class="fa fa-phone"></i>
                                <div class="form-group " style="margin-bottom: 0%"
                                     ng-class="{ 'has-error': organizatorForm.telefono.$touched && organizatorForm.telefono.$invalid }">
                                    <div class="col-md-6">
                                        <input type="telefono" class="form-control" id="inputPhone" name="telefono"
                                               ng-model="organizador.phone_number"
                                               placeholder="telefono" minlength="5" maxlength="45" required>
                                        <div class="help-block" ng-messages="organizatorForm.telefono.$error"
                                             ng-if="organizatorForm.telefono.$touched">
                                            <p ng-message="minlength">{{'ERROR.PHONE_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.PHONE_MAXL' | translate}}</p>
                                            <p ng-message="required">{{'ERROR.PHONE_REQ' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<span class="profile-desc-text"> Revisar si se incluiran demas redes sociales </span>-->
                        <!--<div class="margin-top-20 profile-desc-link">-->
                        <!--<i class="fa fa-twitter"></i>-->
                        <!--<a href="{{organizador.email}}">Twitter</a>-->
                        <!--</div>-->
                        <!--<div class="margin-top-20 profile-desc-link">-->
                        <!--<i class="fa fa-facebook"></i>-->
                        <!--<a href="{{organizador.organizations.data[0].facebook_link}}">Facebook</a>-->
                        <!--</div>-->
                    </div>
                </div>
                <!-- END PORTLET MAIN -->
            </form>
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div ui-view class="profile-content fade-in-up"></div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTENT-->
<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 200px;
        height: 200px;
    }
</style>