<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
			<i class="fa fa-circle"></i>
		</li>
		<li ng-if="$parent.isAdmin">
			<a ui-sref="organizadores">{{'PAGE_BAR_ORG' | translate}}</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a ui-sref="profile.dashboard">{{'PROFILE' | translate}}</a>
		</li>
	</ul>

</div>

<div class="col-md-9 col-sm-12" >
<h3 class="page-title"> {{'ORGANIZER.PROFILE' | translate}}</h3>
</div>
<div class="col-md-3 col-sm-12" style="margin-bottom: 25px;margin-top: 25px" >
	<button type="button" style="float: right" class="btn btn-primary"
			ng-if="!$parent.isAdmin" ui-sref="profile-edit.main({ id: 0 })">{{'ORGANIZER.EDIT_INFO' | translate}}</button></div>

<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="UserProfileController">

	<div notifybar style="position:absolute;top:0;right:0"></div>
	<div class="col-md-12" >
		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
			<!-- PORTLET MAIN -->
			<div class="portlet light ">

					<div class="portlet-title">
						<div class="caption caption-md">
							<i class="icon-bar-chart theme-font hide"></i>
							<span class="caption-subject font-blue-madison bold uppercase">{{'ORGANIZER.REPRE_DATA' | translate}}</span>
						</div>
					</div>

				<!-- SIDEBAR foto usuario -->
				<div class="profile-userpic">
					<img src="{{(organizador.avatar == null) ? 'appData/img/users/default.png' : organizador.avatar}}" class="img-responsive" alt=""></div>
				<!-- fin SIDEBAR foto usuario -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name"> {{organizador.first_name}} {{organizador.last_name}}</div>
					<!--<div class="profile-usertitle-job"> Developer</div>-->
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<!--<div class="profile-userbuttons">-->
					<!--<button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>-->
					<!--<button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>-->
				<!--</div>-->
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<!--<div class="profile-usermenu">-->
					<!--<ul class="nav">-->
						<!--<li ng-class="{active: $state.includes('profile.dashboard')}">-->
							<!--<a ui-sref="profile.dashboard">-->
								<!--<i class="icon-home"></i> Overview </a>-->
						<!--</li>-->
						<!--<li ng-class="{active: $state.includes('profile.account')}">-->
							<!--<a ui-sref="profile.account">-->
								<!--<i class="icon-settings"></i> Account Settings </a>-->
						<!--</li>-->
						<!--<li>-->
							<!--<a href="#/todo">-->
								<!--<i class="icon-check"></i> Tasks </a>-->
						<!--</li>-->
						<!--<li ng-class="{active: $state.includes('profile.help')}">-->
							<!--<a ui-sref="profile.help">-->
								<!--<i class="icon-info"></i> Help </a>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
				<!-- END MENU -->
				<!--<div class="item">-->
					<!--<div class="item-head">-->
						<!--<div class="item-details">-->
							<!--<a href="" class="item-name primary-link">Telefono</a>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="item-body"> {{organizador.phone}} </div>-->
				<!--</div>-->
			</div>
			<!-- END PORTLET MAIN -->
			<!-- PORTLET MAIN -->
			<div class="portlet light">
				<!-- STAT -->
				<!--<div class="row list-separated profile-stat">-->
					<!--<div class="col-md-4 col-sm-4 col-xs-6">-->
						<!--<div class="uppercase profile-stat-title"> 37</div>-->
						<!--<div class="uppercase profile-stat-text"> Projects</div>-->
					<!--</div>-->
					<!--<div class="col-md-4 col-sm-4 col-xs-6">-->
						<!--<div class="uppercase profile-stat-title"> 51</div>-->
						<!--<div class="uppercase profile-stat-text"> Tasks</div>-->
					<!--</div>-->
					<!--<div class="col-md-4 col-sm-4 col-xs-6">-->
						<!--<div class="uppercase profile-stat-title"> 61</div>-->
						<!--<div class="uppercase profile-stat-text"> Uploads</div>-->
					<!--</div>-->
					<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart theme-font hide"></i>
						<span class="caption-subject font-blue-madison bold uppercase">{{'ORGANIZER.CONTACT_PROFILE' | translate}}</span>
					</div>
					</div>
				<!--</div>-->
				<!-- END STAT -->
				<div>
					<!--<h4 class="profile-desc-title">Enlaces para </h4>-->
					<!--<span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>-->
					<div class="margin-top-20 profile-desc-link">
						<i class="fa fa-globe"></i>
						<a href="mailto:{{organizador.email}}">{{organizador.email}}</a>
					</div>
					<div class="margin-top-20 profile-desc-link">
						<i class="fa fa-phone"></i>
						<a href="mailto:{{organizador.phone_number}}">{{organizador.phone_number}}</a>
					</div>
					<!--<span class="profile-desc-text"> Revisar si se incluiran demas redes sociales </span>-->
					<!--<div class="margin-top-20 profile-desc-link">-->
						<!--<i class="fa fa-twitter"></i>-->
						<!--<a href="{{organizador.email}}">Twitter</a>-->
					<!--</div>-->
					<!--<div class="margin-top-20 profile-desc-link">-->
						<!--<i class="fa fa-facebook"></i>-->
						<!--<a href="{{organizador.organizations.data[0].facebook_link}}">Facebook</a>-->
					<!--</div>-->
				</div>
			</div>
			<!-- END PORTLET MAIN -->
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->
		<!-- BEGIN PROFILE CONTENT -->
		<div ui-view class="profile-content fade-in-up"></div>
		<!-- END PROFILE CONTENT -->
	</div>
</div>
<!-- END PAGE CONTENT-->
