<!--<div class="col-md-6 col-md-offset-3">
    <h2>Panel de Administracion</h2>
    <form name="form" ng-submit="vm.login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Correo</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Correo es requerido</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password es requerido</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>-->
 
<body class=" login">
    <!-- BEGIN : LOGIN PAGE 5-1 -->
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-6 bs-reset mt-login-5-bsfix">
                <div class="login-bg" style="background-image:url(assets/pages/img/login/bg1.jpg)">
                    <!--<img class="login-logo" src="assets/pages/img/login/logo.png" /> --></div>
            </div>
            <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
                <div class="login-content">
                    <h1>Administration Panel</h1>
                    <form action="javascript:;" class="login-form" name="form" ng-submit="vm.login()" role="form">
                        <div class="alert alert-danger " ng-if="flash" >
                            <span ng-bind="flash.message">Correo</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix form-group" ng-model="vm.username" type="text" autocomplete="off" placeholder="Username"  name="username" id="username" required/> </div>
                            <div class="col-xs-6">
                                <input class="form-control form-control-solid placeholder-no-fix form-group" ng-model="vm.password" type="password" autocomplete="off" placeholder="Password" name="password" id="password" required/> </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8 text-right">
                                <button class="btn green" type="submit" ng-disabled="form.$invalid || vm.dataLoading">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>