/* ------------------------------------------------------------------- */
/* Color #FF5F06
---------------------------------------------------------------------- */
div.datedropper:before,
div.datedropper .pick-submit,
div.datedropper .pick-lg-b .pick-sl:before,
div.datedropper .pick-m,
div.datedropper .pick-lg-h {
  background-color: #FF5F06 !important;
}

div.datedropper .pick-y.pick-jump,
div.datedropper .pick li span,
div.datedropper .pick-lg-b .pick-wke,
div.datedropper .pick-btn {
  color: #FF5F06 !important;
}

.style-2 .trigger.active a,
.style-2 .ui-accordion .ui-accordion-header-active:hover,
.style-2 .ui-accordion .ui-accordion-header-active,
#posts-nav li a:hover,
.plan.featured .listing-badge,
.post-content h3 a:hover,
.add-review-photos i,
.show-more-button i,
.listing-details-sidebar li a,
.star-rating .rating-counter a:hover,
.more-search-options-trigger:after,
.header-widget .sign-in:hover,
#footer a,
#footer .footer-links li a:hover,
#navigation.style-1 .current,
#navigation.style-1 ul li:hover a,
.user-menu.active .user-name:after,
.user-menu:hover .user-name:after,
.user-menu.active .user-name,
.user-menu:hover .user-name,
.main-search-input-item.location a:hover,
.chosen-container .chosen-results li.highlighted,
.input-with-icon.location a i:hover,
.sort-by .chosen-container-single .chosen-single div:after,
.sort-by .chosen-container-single .chosen-default,
.panel-dropdown a:after,
.post-content a.read-more,
.post-meta li a:hover,
.widget-text h5 a:hover,
.about-author a,
a.button.border.white:hover,
.icon-box-2 i,
a.button.border,
.style-2 .ui-accordion .ui-accordion-header:hover,
.style-2 .trigger a:hover ,
.plan.featured .listing-badges .featured,
.list-4 li:before,
.list-3 li:before,
.list-2 li:before,
.list-1 li:before,
.info-box h4,
.testimonial-carousel .slick-slide.slick-active .testimonial:before,
.sign-in-form .tabs-nav li a:hover,
.sign-in-form .tabs-nav li.active a,
.lost_password:hover a,
#top-bar .social-icons li a:hover i,
.listing-share .social-icons li a:hover i,
.agent .social-icons li a:hover i,
#footer .social-icons li a:hover i,
.headline span i {
    color: #FF5F06;
}

.category-small-box:hover,
.pricing-list-container h4:after,
#backtotop a,
.chosen-container-multi .chosen-choices li.search-choice,
.select-options li:hover,
button.panel-apply,
.layout-switcher a:hover,
.listing-features.checkboxes li:before,
.comment-by a.reply:hover,
.add-review-photos:hover,
.office-address h3:after,
.post-img:before,
button.button,
input[type="button"],
input[type="submit"],
a.button,
a.button.border:hover,
table.basic-table th,
.plan.featured .plan-price,
mark.color,
.style-4 .tabs-nav li.active a,
.style-5 .tabs-nav li.active a,
.dashboard-list-box .button.gray:hover,
.change-photo-btn:hover,
.dashboard-list-box  a.rate-review:hover,
input:checked + .slider,
.add-pricing-submenu.button:hover,
.add-pricing-list-item.button:hover,
.custom-zoom-in:hover,
.custom-zoom-out:hover,
#geoLocation:hover,
#streetView:hover,
#scrollEnabling:hover,
#scrollEnabling.enabled,
#mapnav-buttons a:hover,
#sign-in-dialog .mfp-close:hover,
#small-dialog .mfp-close:hover {
    background-color: #FF5F06;
}


.rangeslider__fill,
span.blog-item-tag ,
.testimonial-carousel .slick-slide.slick-active .testimonial-box,
.listing-item-container.list-layout span.tag,
.tip,
.mfp-arrow:hover {
    background: #FF5F06;
}


.rangeslider__handle { border-color: #FF5F06; }

.layout-switcher a.active {
    color: #FF5F06;
    border-color: #FF5F06;
}

#titlebar.listing-titlebar span.listing-tag {
    border-color: #FF5F06;
    color: #FF5F06;
}


.listing-slider .slick-next:hover,
.listing-slider .slick-prev:hover {
    background-color: #FF5F06;
}


.listing-nav-container.cloned .listing-nav li:first-child a.active,
.listing-nav-container.cloned .listing-nav li:first-child a:hover,
.listing-nav li:first-child a,
.listing-nav li a.active,
.listing-nav li a:hover {
    border-color: #FF5F06;
    color: #FF5F06;
}


.price {     float: right;
    font-size: 15px;
   
    color: #54ba1d;
}
 
 
.pricing-list-container h4 {
    color: #FF5F06;
    border-color: #FF5F06;
}



.sidebar-textbox ul.contact-details li a { color: #FF5F06; }

a.button.border {
    color: #FF5F06;
    border-color: #FF5F06;
}

.trigger.active a,
.ui-accordion .ui-accordion-header-active:hover,
.ui-accordion .ui-accordion-header-active {
    background-color: #f91942;
    border-color: #f91942;
}

.numbered.color ol > li::before {
    border-color: #f91942;;
    color: #f91942;
}

.numbered.color.filled ol > li::before {
    border-color: #f91942;
    background-color: #f91942;
}

.info-box {
    border-top: 2px solid #f91942;
    background: linear-gradient(to bottom, rgba(255,255,255,0.98), rgba(255,255,255,0.95));
    background-color: #f91942;
    color: #f91942;
}

.info-box.no-border {
    background: linear-gradient(to bottom, rgba(255,255,255,0.96), rgba(255,255,255,0.93));
    background-color: #f91942;
}

.tabs-nav li a:hover { border-color: #f91942; }

.tabs-nav li a:hover,
.tabs-nav li.active a {
    border-color: #f91942;
    color: #f91942;
}

.style-3 .tabs-nav li a:hover,
.style-3 .tabs-nav li.active a {
    border-color: #f91942;
    background-color: #f91942;
}

.checkboxes input[type=checkbox]:checked + label:before {
    background-color: #f91942;
    border-color: #f91942;
}

.listing-item-container.compact .listing-item-content span.tag { background-color: #f91942; }

.dashboard-nav ul li.active,
.dashboard-nav ul li:hover { border-color: #f91942; }

.dashboard-list-box .comment-by-listing a:hover { color: #f91942; }

.opening-day:hover h5 { color: #f91942 !important; }

.map-box h4 a:hover { color: #f91942; }
.infoBox-close:hover {
    background-color: #f91942;
    -webkit-text-stroke: 1px #f91942;
}

.cluster-visible {
    background-color: #f91942;
}

.cluster-visible:before {
    border: 7px solid #f91942;
    box-shadow: inset 0 0 0 4px #f91942;
}

.marker-arrow {
    border-color: #f91942 transparent transparent;
}

.face.front {
    border-color: #f91942;
    color: #f91942;
}

.face.back {
    background: #f91942;
    border-color: #f91942;
}

.custom-zoom-in:hover:before,
.custom-zoom-out:hover:before  { -webkit-text-stroke: 1px #f91942;  }

.category-box-btn:hover {
    background-color: #f91942;
    border-color: #f91942;
} 

.message-bubble.me .message-text {
    color: #f91942;
    background-color: rgba(249,25,66,0.05);
}

.message-bubble.me .message-text:before {
    color: rgba(249,25,66,0.05);
}

.section-todays-schedule{
	background:#3B2267;
	padding:30px 0;
}

.section-todays-schedule .section-header{
	margin:0 0 35px;
}

.section-todays-schedule .section-header h2{
	font-size:22px;
	line-height:22px;
	color:#ff6600;
	text-transform:uppercase;
	font-family: font-family: 'Open Sans', sans-serif;
	position:relative;
	padding:0 0 0 25px;
	display:inline-block;
	font-weight:700
}

.section-todays-schedule .section-header h2:before{
	display:block;
	width:5px;
	height:16px;
	content: "";
	position:absolute;
	left:0;
	top:4px;
	background:#ff6600;
}

.section-todays-schedule .section-header .todays-date{
	display:inline-block;
	font-size:14px;
	line-height:22px;
	color:#ff6600;
	float:right;
}

.section-todays-schedule .section-header .todays-date strong{
	color:#fff
}

.section-todays-schedule .section-header .todays-date i{
	margin:0 15px 0 0;
	font-size:18px;
}

.section-todays-schedule .section-content{
	position:relative
}

.section-todays-schedule .section-content ul li{
	float:left;
	padding:0 25px 20px;
	*/border-bottom:1px solid #464646;
	position:relative;
	height:93px;
	list-style: none;
}

.section-todays-schedule .section-content ul li.event-1{
	padding:0 25px 20px 0;
	margin:0 0 0 30px;
}

.section-todays-schedule .section-content ul li:after{
	content: "";
	width:6px;
	height:10px;
	background:url(../../images/events-arrow.png);
	display:block;
	position:absolute;
	top:10px;
	right:0;
}

.section-todays-schedule .section-content ul li.event-4:after{
	display:none;
}

.section-todays-schedule .section-content ul li.event-1:before{
	content: "";
	width:20px;
	height:19px;
	background:url(../images/events-clock.png);
	display:block;
	position:absolute;
	bottom:-10px;
	left:0;
}

.section-todays-schedule .section-content ul li.event-2:before,
.section-todays-schedule .section-content ul li.event-3:before,
.section-todays-schedule .section-content ul li.event-4:before{
	content: "";
	width:7px;
	height:8px;
	background:url(../images/events-dot.png);
	display:block;
	position:absolute;
	bottom:-4px;
	left:35px;
}

.section-todays-schedule .section-content .event-time{
	font-size:24px;
	display:block;
	color:#d7d7d7;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.section-todays-schedule .section-content .event-time strong{
	font-size:12px;
	color:#d7d7d7;
	font-family: 'Open Sans', sans-serif;
}

.section-todays-schedule .section-content .event-name{
	font-size:12px;
	color:#d7d7d7;
	display:block;
	margin:0 0 10px;
	font-family: 'Open Sans', sans-serif;
}

.section-todays-schedule .section-content .get-ticket{
	font-size: 10px;
	color:#fff;
	padding:5px 15px;
	background:#ff6600;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	border:none;
	border-radius:20px;
	font-weight:700;
	display:inline-block;
}

.section-todays-schedule .section-content .get-ticket:hover{
	color:#ff6600;
	background:#fff;
}

.section-todays-schedule .section-content .sold-ticket{
	font-size: 10px;
	color:#ff6600;
	padding:5px 15px;
	background:none;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #ff6600;
	border-radius:20px;
	font-weight:700;
	display:inline-block;
	pointer-events: none;
	cursor: default;
}

.section-todays-schedule .section-content .event-list-label{
	color:#d7d7d7;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	position:absolute;
	bottom:-4px;
	right:0;
}

.section-todays-schedule .section-content .event-list-label span{
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
}

/*--------------------------------------------------------------
	Full Event Schedule
--------------------------------------------------------------*/

.section-full-events-schedule{
	padding:70px 0;
	background:#f8f8f8
}

.section-full-events-schedule .section-header .nav-tabs{
	border:none
}

.section-full-events-schedule .section-header .nav-tabs li:first-child a{
	border-left:1px solid #f8f8f8
}

.section-full-events-schedule .section-header .nav-tabs li a{
	padding:30px 0 30px;
	width:166.4px;
	font-size:45px;
	line-height:inherit;
	text-align:center;
	display:inline-block;
	color:#b3b3b3;
	border:none;
	background:#fdfdfd;
	border-top:1px solid #f8f8f8;
	border-right:1px solid #f8f8f8;
	border-bottom:1px solid #f8f8f8;
	border-radius:0;
	margin:0;
	text-transform:uppercase;
	font-family: "Montserrat-Hairline";
 }
 
 .section-full-events-schedule .section-header .nav-tabs li a strong{
	display:block;
	font-size:14px;
	margin:0 0 20px;
	font-family: "Montserrat-Regular";
	color:#b3b3b3;
}
 
.section-full-events-schedule .section-header .nav-tabs li a span{
	display:block;
	font-size:16px;
	margin:25px 0 0;
	font-family: "Montserrat-Light";
	color:#b3b3b3;
}

 .section-full-events-schedule .section-header .nav-tabs li:hover a strong,
 .section-full-events-schedule .section-header .nav-tabs li:hover a span{
	color:#373737
 }

.section-full-events-schedule .section-header .nav-tabs li.active a,
.section-full-events-schedule .section-header .nav-tabs li:hover a{
	color:#373737;
	background:#fff;
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
	z-index: 999
}

.section-full-events-schedule .section-header .nav-tabs li.active a span,
.section-full-events-schedule .section-header .nav-tabs li.active a strong{
	color:#373737
}

.section-full-events-schedule .section-header .scrtabs-tabs-fixed-container{
	height:190px;
	padding:0 6px;
	width:100%!important
}

.section-full-events-schedule .section-header .scrtabs-tabs-movable-container{
	min-width:3000px
}

.section-full-events-schedule .section-header .scrtabs-tab-container{
	position:relative;
	height:190px;
}

.section-full-events-schedule .section-header .scrtabs-tab-scroll-arrow-right span,
.section-full-events-schedule .section-header .scrtabs-tab-scroll-arrow-left span{
	display:none
}

.section-full-events-schedule .section-header .scrtabs-tab-scroll-arrow-left{
	width:22px;
	height:29px;
	background:url(../../images/calendar-events-arrow-left.png) no-repeat center center;
	border:none;
	position:absolute;
	left:-30px;
	bottom:0;
	top:45%;
}

.section-full-events-schedule .section-header .scrtabs-tab-scroll-arrow-right{
	width:22px;
	height:29px;
	background:url(../../images/calendar-events-arrow-right.png) no-repeat center center;
	border:none;
	position:absolute;
	right:-30px;
	bottom:0;
	top:45%;
}


.section-full-events-schedule .section-content{
	background:#fff;
	margin:-6px 0 0 6px;
}

.section-full-events-schedule .section-content .tab-pane .nav{
	margin:-6px -31px 0 0;
	border-right:1px solid #f8f8f8;
}

.section-full-events-schedule .section-content .tab-pane .nav a{
	padding:30px 50px 30px 80px;
	background:#fff;
	position:relative;
}

.section-full-events-schedule .section-content .tab-pane .nav a:before{
	content: " ";
	width:20px;
	height:19px;
	background:url(../images/schedule-clock.png);
	display:block;
	position:absolute;
	top:34px;
	left:40px;
}

.section-full-events-schedule .section-content .tab-pane .nav a:after{
	content: " ";
	width:6px;
	height:10px;
	background:url(../images/events-arrow.png);
	display:block;
	position:absolute;
	top:45%;
	right:40px;
}

.section-full-events-schedule .section-content .tab-pane .nav li.active a,
.section-full-events-schedule .section-content .tab-pane .nav li:hover a{
	background:#f8f8f8
}


.section-full-events-schedule .section-content .tab-pane .nav .schedule-time{
	display:block;
	font-size:24px;
	color:#373737;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	margin:0 0 10px;
}

.section-full-events-schedule .section-content .tab-pane .nav .schedule-time strong{
	display:inline-block;
	font-size:12px;
	color:#373737;
	font-family: 'Open Sans', sans-serif;
}

.section-full-events-schedule .section-content .tab-pane .nav .schedule-title{
	display:block;
	font-size:12px;
	color:#373737;
	font-weight:700;
	margin:0 0 15px;
	font-family: 'Open Sans', sans-serif;
}

.section-full-events-schedule .section-content .tab-pane .nav .schedule-ticket-info{
	display:inline-block;
	font-size:10px;
	color:#fff;
	background:#ff6600;
	font-weight:700;
	padding:5px 15px;
	border-radius:50px;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
}

.section-full-events-schedule .section-content .tab-pane .tab-content{
	border-left:1px solid #f8f8f8;
	margin:-6px 0 0;
}

.section-full-events-schedule .section-content .tab-content .tab-pane > img{
	width:100%;
}

.section-full-events-schedule .section-content .tab-pane .full-event-info{
	padding:45px;
	overflow:hidden;
}

.section-full-events-schedule .section-content .full-event-info-header{
	overflow:hidden;
	margin:0 0 45px;
}

.section-full-events-schedule .section-content .tab-pane .full-event-info h2{
	font-size:22px;
	color:#373737;
	font-family: "Montserrat-Regular";
	float:left;
	margin:0 0 15px;
}

.section-full-events-schedule .section-content .tab-pane .full-event-info .ticket-left-info{
	font-size:10px;
	color:#fff;
	background:#ff5700;
	padding:5px 15px;
	float:right;
	display:inline-block;
	border-radius:50px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}

.section-full-events-schedule .section-content .tab-pane .full-event-info .event-date-info{
	font-size:15px;
	color:#6f6f6f;
	float:left;
	display:inline-block;
	font-family: "Montserrat-Light";
}

.section-full-events-schedule .section-content .tab-pane .full-event-info .event-venue-info{
	font-size:15px;
	color:#6f6f6f;
	float:right;
	display:inline-block;
	margin:0 0 15px;
	font-family: "Montserrat-Light";
}

.section-full-events-schedule .section-content .tab-pane .full-event-info-content{
	overflow:hidden;
}

.section-full-events-schedule .section-content .tab-pane .full-event-info-content p{
	color:#373737;
	line-height:25px;
	font-size:13px;
	font-family: "Montserrat-Light";
	margin:0 0 15px;
}

.section-full-events-schedule .section-content .tab-pane .full-event-info-content .book-ticket{
	font-size:16px;
	color:#fff;
	padding:20px 70px;
	text-transform:uppercase;
	background:#ff6600;
	border-radius:50px;
	float:right;
	margin:25px 0 0;
}

/*--------------------------------------------------------------
	Book Now
--------------------------------------------------------------*/

a.btn_full, .btn_full {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    width: 100%;
    background: #85c99d;
    cursor: pointer;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

a.btn_full_outline {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #85c99d;
    background: none;
    border: 2px solid #85c99d;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-align: center;
}
.table.table_summary tr.total {
    color: #8BC34A;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.box_style_1 h3.inner {
    margin: -30px -30px 20px -30px;
    background-color: #565a5c;
    padding: 10px 20px 10px 18px;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-top-left-radius: 3px;
    text-align: center;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


input.qty2 {
    position: relative;
    width: 35px;
    height: 40px;
    border-radius: none;
    text-align: center;
    left: 31px;
    font-size: 12px;
    padding: 5px;
}

.dec {
    background: #fff url(../../images/minus.png) no-repeat center center;
    border: 1px solid #cccccc;
    left: 0;
    top: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.button_inc {
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    width: 33px;
    height: 40px;
    z-index: 9;
}


.inc {
    background: #fff url(../../images/plus.png) no-repeat center center;
    right: 0;
    top: 0;
    border: 1px solid #cccccc;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.numbers-row {
    position: relative;
    width: 97px;
    height: 40px;
    overflow: visible;
}

#single_tour_feat ul li i {
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
	}
	
	
	#single_tour_feat ul li {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px 20px 10px;
    white-space: nowrap;
}