<!-- INICIO DE HEADER DE LA PAGINA-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="configuracion">{{'CONFIGURATIONS' | translate}}</a>
        </li>
    </ul>
</div>
<!--<h3 class="page-title"> Eventos </h3>-->
<!-- FIN DE HEADER DE LA PAGINA-->
<!-- INICIO DE CONTENIDO PRINCIPAL -->
<div ng-controller="ConfiguracionesController">


    <div class="row">


        <div class="col-md-12" ng-if="!$parent.isAdmin">
            <div class="portlet light bordered" ng-if="true">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-globe font-dark"></i>
                        <span class="caption-subject bold uppercase"> {{'EVENT_OBJECT.STAFF' | translate}} </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="#" data-target="#staffModal" role="button"
                                       class="btn sbold green" ng-click="resetStaff()"
                                       data-toggle="modal">
                                        {{'ADD_NEW' | translate}} <i class="fa fa-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--INICIO DE TABLA DE ENTRADA-->
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column"
                               datatable="ng" dt-options="vm.dtOptions" id="sample_1">
                            <thead>
                            <tr>

                                <th> {{'EVENT_OBJECT.NAME' | translate}}</th>
                                <th> {{'USER.EMAIL' | translate}}</th>
                                <th> {{'EVENT_OBJECT.ACTIONS' | translate}}</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" ng-repeat="staff in staves">

                                <td> {{staff.name}}</td>
                                <td> {{staff.email}}</td>
                                <td>
                                    <div class="pull-right action-buttons">
                                        <!--<a data-target="#entradaModal" role="button"-->
                                        <!--ng-click="resetEntrance(entrance)" class="btn purple"-->
                                        <!--data-toggle="modal"><span-->
                                        <!--class="glyphicon glyphicon-edit"></span> </a>-->
                                        <!--<a ng-click="remove(staff.id)" class="trash"><span class="glyphicon glyphicon-trash"></span>-->
                                        <!--</a>-->
                                        <button class="btn btn-default"
                                                ng-confirm-click="{{'EVENT_OBJECT.DELETE_STAFF_CONFIRM' | translate}}"
                                                title="{{'EVENT_OBJECT.TITLE.STAFF' | translate}}"
                                                confirmed-click="deleteStaff({{staff}},$index)"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                        <button class="btn btn-default"
                                                ng-confirm-click="{{'EVENT_OBJECT.UPDATE_STAFF_CONFIRM' | translate}}"
                                                title="{{'EVENT_OBJECT.TITLE.RESET_ACCESS_STAFF' | translate}}"
                                                confirmed-click="addStaff({{staff}})"><span
                                                class="glyphicon glyphicon-edit"></span></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="$parent.isAdmin">
            <!-- INICIO DE CONTENEDOR DE LA TABLA-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-th-list font-dark"></i>
                        <span class="caption-subject bold uppercase"> {{'CATEGORIES' | translate}} </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="sample_editable_1_new" ui-sref="categoria"
                                            class="btn sbold green">
                                        {{'ADD_NEW' | translate}}
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--INICIO DE TABLA DE EVENTOS-->
                    <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                           datatable="ng" dt-options="vm2.dtOptions" id="sample_2">
                        <thead>
                        <tr>

                            <th> {{'USER.NAME' | translate}}</th>
                            <th> {{'ORGANIZER.DESCRIPTION' | translate}}</th>
                            <th> {{'ORGANIZER.ACTIONS' | translate}}</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="category in categorys">

                            <td> {{category.name}}</td>
                            <td> {{category.description}}</td>
                            <td>
                                <div class="pull-right action-buttons">
                                    <a ui-sref="edCategory({ id: {{category.id}} })"><span
                                            class="glyphicon glyphicon-edit"></span> </a>
                                    <!--<a ng-click="remove(event.id)" class="trash"><span class="glyphicon glyphicon-trash"></span>-->
                                    <!--</a>-->
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <!-- FINAL DE CONTENEDOR DE TABLA-->
        </div>
        <div class="col-md-12" ng-if="$parent.isAdmin">
            <!-- INICIO DE CONTENEDOR DE LA TABLA-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-map-o font-dark"></i>
                        <span class="caption-subject bold uppercase"> {{'COUNTRIES' | translate}} </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="sample_editable_2_new" ui-sref="pais"
                                            class="btn sbold green">
                                        {{'ADD_NEW' | translate}}
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--INICIO DE TABLA DE EVENTOS-->
                    <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                           datatable="ng" dt-options="vm3.dtOptions" id="sample_3">
                        <thead>
                        <tr>

                            <th> {{'USER.NAME' | translate}}</th>
                            <th> {{'ORGANIZER.ACTIONS' | translate}}</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="country in countries">

                            <td> {{country.name}}</td>
                            <td>
                                <div class="pull-right action-buttons">
                                    <a ui-sref="edPais({ id: {{country.id}} })"><span
                                            class="glyphicon glyphicon-edit"></span> </a>
                                    <!--<a ng-click="remove(event.id)" class="trash"><span class="glyphicon glyphicon-trash"></span>-->
                                    <!--</a>-->
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <!-- FINAL DE CONTENEDOR DE TABLA-->
        </div>
        <div class="col-md-12" ng-if="$parent.isAdmin">
            <!-- INICIO DE CONTENEDOR DE LA TABLA-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-dot-circle-o font-dark"></i>
                        <span class="caption-subject bold uppercase"> {{'CITIES' | translate}} </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="sample_editable_3_new" ui-sref="ciudad"
                                            class="btn sbold green">
                                        {{'ADD_NEW' | translate}}
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--INICIO DE TABLA DE EVENTOS-->
                    <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                           datatable="ng" dt-options="vm3.dtOptions" id="sample_4">
                        <thead>
                        <tr>

                            <th> {{'USER.NAME' | translate}}</th>
                            <th> {{'ORGANIZER.ACTIONS' | translate}}</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="city in cities">

                            <td> {{city.name}}</td>
                            <td>
                                <div class="pull-right action-buttons">
                                    <a ui-sref="edCiudad({ id: {{city.id}} })"><span
                                            class="glyphicon glyphicon-edit"></span> </a>
                                    <!--<a ng-click="remove(event.id)" class="trash"><span class="glyphicon glyphicon-trash"></span>-->
                                    <!--</a>-->
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <!-- FINAL DE CONTENEDOR DE TABLA-->
        </div>

    </div>
    <div id="staffModal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{'EVENT_OBJECT.STAFF_DATA' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-vertical form-bordered" name="staffForm" novalidate>
                        <div class="form-body">
                            <div class="form-group required"></div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': staffForm.name.$touched && staffForm.name.$invalid }">
                                <div class="col-md-4">
                                    <label class="control-label ">{{'ORGANIZER.NAME' | translate}}</label>
                                    <input type="text" placeholder="{{'ORGANIZER.NAME' | translate}} ..." required
                                           name="name"
                                           data-required-error="{{'ERROR.NAME_ERR_REQ' | translate}} " minlength="3"
                                           maxlength="100"
                                           ng-model="staff.name" class="form-control">
                                    <div class="help-block" ng-messages="staffForm.name.$error"
                                         ng-if="staffForm.name.$touched">
                                        <p ng-message="minlength">{{'ERROR.NAME_ERR_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.NAME_ERR_MAXL' | translate}}</p>
                                        <p ng-message="required">{{'ERROR.NAME_ERR_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required "
                                 ng-class="{ 'has-error': staffForm.email.$touched && staffForm.email.$invalid }">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="control-label">{{'USER.EMAIL' | translate}}</label>
                                    <input type="email" class="form-control" id="inputEmail" name="email"
                                           ng-model="staff.email"
                                           placeholder="Email" minlength="5" maxlength="75" required>
                                    <div class="help-block" ng-messages="staffForm.email.$error"
                                         ng-if="staffForm.email.$touched">
                                        <p ng-message="minlength">{{'ERROR.LAST_NAME_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.EMAIL_ERR_MAXL' | translate}}</p>
                                        <p ng-message="required">{{'ERROR.EMAIL_ERR_REQ' | translate}}</p>
                                        <p ng-message="email">{{'ERROR.EMAIL_ERR_EMAIL' | translate}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <br>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'CANCEL' | translate}}</button>
                    <button type="submit" class="btn btn-primary"
                            data-dismiss="{{($parent.staff != null) ? 'modal': ''}}"
                            ng-click="addStaff(null)" ng-disabled="staffForm.$invalid">
                        <i class="fa fa-check"></i> {{'ACEPT' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .form-group.required .control-label:before {
        content: "*";
        color: red;
    }
</style>
<!-- INICIO DE CONTENIDO PRINCIPAL-->
