<!-- INICIO DE PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>

    </ul>

</div>
<h3 class="page-title"> {{'DASHBOARD.PAGE_TITLE' | translate}} </h3>
<!-- FIN DE PAGE HEADER-->
<!-- INICIO DE CONTENIDO PRINCIPAL -->
<div ng-controller="DashboardController">

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-if="$parent.isAdmin">
            <div  class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-user"></i>
                </div>
                <div class="details">
                    <div class="number"> {{$parent.usrsActivos}} </div>
                    <div class="desc"> {{'DASHBOARD.USERS_ACTIVE' | translate}} </div>
                </div>
                <a class="more" ui-sref="users"> {{'DASHBOARD.SEE_MORE' | translate}} ...
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-if="!$parent.isAdmin">
			<div class="dashboard-stat blue">
				<div class="visual">
					<i class="fa fa-users"></i>
				</div>
				<div class="details">
					<div class="number"> {{$parent.userLogged.organization.name}} </div>
					<div class="desc"> {{'DASHBOARD.WELCOME' | translate}} </div>
				</div>
				<a class="more" ui-sref="profile.dashboard({ id: 0 })"> {{'DASHBOARD.WATCH_PROFILE' | translate}} ...
					<i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-if="$parent.isAdmin">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-users"></i>
                </div>
                <div class="details">
                    <div class="number"> {{$parent.organizadoresEspera}} </div>
                    <div class="desc"> {{'DASHBOARD.ORGANIZERS' | translate}} </div>
                </div>
                <a class="more" ui-sref="organizadores"> {{'DASHBOARD.SEE_MORE' | translate}} ...
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-class="{'col-lg-3': $parent.isAdmin, 'col-md-3': $parent.isAdmin,
                                                       'col-lg-4': !$parent.isAdmin, 'col-md-4': !$parent.isAdmin}">
            <div class=" dashboard-stat green" ng-class="{green: $parent.isAdmin,red: !$parent.isAdmin}">
                <div class="visual">
                    <i class="fa fa-hand-o-up"></i>
                </div>
                <div class="details">
                    <div class="number"> {{$parent.eventsCount}} </div>
                    <div class="desc"> {{'EVENTS' | translate}}   </div>
                </div>
                <a class="more" ui-sref="eventos">  {{'DASHBOARD.SEE_MORE' | translate}} ...
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-class="{'col-lg-3': $parent.isAdmin, 'col-md-3': $parent.isAdmin,
                                                       'col-lg-4': !$parent.isAdmin, 'col-md-4': !$parent.isAdmin}">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-usd"></i>

                </div>
                <div class="details">
                    <div class="number">  </div>
                    <div class="desc"> {{'FINANCES' | translate}} </div>
                </div>
                <a class="more" ui-sref="finanzas"> {{'DASHBOARD.SEE_MORE' | translate}} ...
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">

        </div>
        <!--<div ng-if="$parent.isAdmin" class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-class="{'col-lg-3': $parent.isAdmin, 'col-md-3': $parent.isAdmin,-->
                                                       <!--'col-lg-4': !$parent.isAdmin, 'col-md-4': !$parent.isAdmin}">-->
            <!--<div class="dashboard-stat white">-->
                <!--<div class="visual">-->
                    <!--<i class="fa fa-cog"></i>-->

                <!--</div>-->
                <!--<div class="details">-->
                    <!--<div class="number">  </div>-->
                    <!--<div class="desc"> Configuracion </div>-->
                <!--</div>-->
                <!--<a class="more" ui-sref="configuracion"> Ver mas ...-->
                    <!--<i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <!-- FINAL DE ESTADOS DEL PANEL -->



</div>
<!-- FIN DEL CONTENIDO PRINCIPAL -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->
