<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<a ui-sref="dashboard">Inicio</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a ui-sref="dashboard">Panel de Administración</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a ui-sref="eventos">Eventos</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a ui-sref="entrada">Entrada</a>
			<i class="fa fa-circle"></i>
		</li>
	</ul>
</div>
<!---END PAGE HEADER-->
<div ng-controller="EventosController">
	<h3 class="page-title">{{$parent.settings.pageTitle}}</h3>

	<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>
	<div class="row">
		<div class="col-md-12">
			<div class="portlet box green">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-user"></i>Datos de Tipo de Entrada </div>
					<div class="tools">
						<a href="javascript:;" class="collapse"> </a>
						<a href="javascript:;" class="reload"> </a>
					</div>
				</div>
				<div class="portlet-body form">
					<div class="row">
						<div class="col-md-4"></div>
						<!-- BEGIN FORM-->
						<form   class="form-horizontal form-row-sepe" ng-submit="submit($parent.entrance)" name="userForm" novalidate>
							<div class="form-body">
								<div class="form-group required"></div>
								<div class="form-group required"
									 ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
									<div class="col-md-4">
										<label class="control-label ">Nombre de Entrada</label>
										<input type="text" placeholder="Nombre de Entrada..." required name="name"
											   data-required-error= "Especifique nombre del tipo de entrada" minlength="3" maxlength="45"
											   ng-model="entrance.name" class="form-control">
										<div class="help-block" ng-messages="userForm.name.$error"
											 ng-if="userForm.name.$touched">
											<p ng-message="minlength">Nombre demasiado corto.</p>
											<p ng-message="maxlength">Nombre demasiado largo.</p>
											<p ng-message="required">Nombre requerido.</p>
										</div>
									</div>
								</div>
								<div class="form-group required"
									 ng-class="{ 'has-error': userForm.description.$touched && userForm.description.$invalid }">
									<div class="col-md-4">
										<label class="control-label ">Descripcion</label>
										<input type="text" placeholder="Descripcion de la categoria..." required name="description"
											   data-required-error= "Especifique descripcion" maxlength="45" minlength="3"
											   ng-model="entrance.description" class="form-control">
										<div class="help-block" ng-messages="userForm.description.$error"
											 ng-if="userForm.description.$touched">
											<p ng-message="minlength">Descripcion demasiado corta.</p>
											<p ng-message="maxlength">Descripcion demasiado largos.</p>
											<p ng-message="required">Descripcion requerida.</p>
										</div>
									</div>

								</div>
								<div class="form-group required"
									 ng-class="{ 'has-error': userForm.precio.$touched && userForm.precio.$invalid }">
									<div class="col-md-4">
										<label class="control-label ">Precio</label>
										<input type="text" placeholder="Precio del nuevo tipo de entrada..." required name="precio"
											   data-required-error= "Especifique precio" maxlength="45" minlength="3"
											   ng-model="entrance.price" class="form-control">
										<div class="help-block" ng-messages="userForm.precio.$error"
											 ng-if="userForm.precio.$touched">
											<p ng-message="minlength">Precio demasiado corto.</p>
											<p ng-message="maxlength">Precio demasiado largo.</p>
											<p ng-message="required">Precio requerido.</p>
										</div>
									</div>

								</div>


								<button class="btn btn-primary" type="submit">{{$parent.settings.action}}</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="required-field-block">


		<div class="required-icon">
			<div class="text">*</div>
		</div>
	</div>


</div>
<script>
	ComponentsDateTimePickers.init(); // init todo page
</script>
<style>
	.form-group.required .control-label:before {
		content:"*";
		color:red;
	}
</style>
