<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="eventos">{{'EVENTS' | translate}}</a>
        </li>
    </ul>
</div>
<!---END PAGE HEADER-->
<div ng-controller="EventosController" id="eventModif">
    <h3 class="page-title">{{$parent.settings.pageTitle}}</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i>{{'EVENT_OBJECT.EVENT_DATA' | translate}}
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="" ng-click="reload()" class="reload"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form class="form-horizontal form-row-sepe" ng-submit="submit($parent.event)"
                          enctype="multipart/form-data" name="eventForm">
                        <div class="col-md-7 col-sm-12">
                            <br/>
                            <img style="width: 80%; height: auto; padding-bottom: 20px"
                                 ng-if="file != null || source != null"
                                 ng-src="{{(file == null) ? source : file.result}}"
                                 alt=""/>
                            <br/>
                        </div>
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-7 col-sm-12">
                                    <a href="#" data-target="#imagenModal" role="button" class="btn red"
                                       data-toggle="modal"> {{'SELECT_IMAGE' | translate}} </a>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': eventForm.nombre.$touched && eventForm.nombre.$invalid }">
                                <div class="col-md-4">
                                    <label class="control-label ">{{'EVENT_OBJECT.NAME' | translate}}</label>
                                    <input type="text" placeholder="{{'EVENT_OBJECT.PLACEHOLDERS.NAME' | translate}}..."
                                           required name="nombre"
                                           data-required-error="{{'ERROR.NAME_ERR_REQ' | translate}}" minlength="3"
                                           maxlength="45"
                                           ng-model="event.name" class="form-control">
                                    <div class="help-block" ng-messages="eventForm.nombre.$error"
                                         ng-if="eventForm.nombre.$touched">
                                        <p ng-message="minlength">{{'ERROR.NAME_ERR_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.NAME_ERR_MAXL' | translate}}</p>
                                        <p ng-message="required">{{'ERROR.NAME_ERR_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': eventForm.descripcion.$touched && eventForm.descripcion.$invalid }">
                                <div class="col-md-8">
                                    <label class="control-label ">{{'EVENT_OBJECT.DESCRIPTION' | translate}}</label>
                                    <textarea type="text" name="descripcion" style="height: 100px"
                                              data-required-error="{{'ERROR.DESCRIP_REQ' | translate}}"
                                              placeholder="{{'EVENT_OBJECT.PLACEHOLDERS.DESCRIPTION' | translate}}..."
                                              minlength="3" maxlength="1000" required
                                              ng-model="event.description"
                                              class="form-control"></textarea>
                                    <div class="help-block" ng-messages="eventForm.descripcion.$error"
                                         ng-if="eventForm.descripcion.$touched">
                                        <p ng-message="minlength">{{'ERROR.DESCRIP_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.DESCRIP_MAXL' | translate}}</p>
                                        <p ng-message="required">{{'ERROR.DESCRIP_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group required"
                                 ng-class="{ 'has-error': eventForm.start_date.$touched && eventForm.start_date.$invalid }">
                                <div class="col-md-6">
                                    <label for="inputDate" class="control-label">{{'EVENT_OBJECT.START_DATE' |
                                        translate}}</label>
                                    <div class="input-group input-medium date date-picker"
                                         data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" id="inputDate" name="start_date"
                                               ng-model="event.start_date" required readonly>
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="help-block" ng-messages="eventForm.start_date.$error"
                                         ng-if="eventForm.start_date.$touched">
                                        <p ng-message="required">{{'ERROR.START_DATE_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': eventForm.start_time.$touched && eventForm.start_time.$invalid }">
                                <div class="col-md-6">
                                    <label for="start_time" class="control-label">{{'EVENT_OBJECT.START_TIME' |
                                        translate}}</label>
                                    <div class="input-group bootstrap-timepicker timepicker input-small">
                                        <input id="start_time" type="text" class="form-control " name="start_time"
                                               ng-model="event.start_time" required readonly>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    </div>

                                    <script type="text/javascript">
                                        $('#start_time').timepicker();
                                    </script>

                                    <div class="help-block" ng-messages="eventForm.start_time.$error"
                                         ng-if="eventForm.start_time.$touched">
                                        <p ng-message="required">{{'ERROR.START_TIME_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': eventForm.end_date.$touched && eventForm.end_date.$invalid }">
                                <div class="col-md-6">
                                    <label for="inputDate" class="control-label">{{'EVENT_OBJECT.END_DATE' |
                                        translate}}</label>
                                    <div class="input-group input-medium date date-picker"
                                         data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" id="inputDate1" name="end_date"
                                               ng-model="event.end_date" required readonly>
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="help-block" ng-messages="eventForm.end_date.$error"
                                         ng-if="eventForm.end_date.$touched">
                                        <p ng-message="required">{{'ERROR.END_DATE_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': eventForm.end_time.$touched && eventForm.end_time.$invalid }">
                                <div class="col-md-6">
                                    <label for="end_time" class="control-label">{{'EVENT_OBJECT.END_TIME' |
                                        translate}}</label>
                                    <div class="input-group bootstrap-timepicker timepicker input-small">
                                        <input id="end_time" type="text" class="form-control " name="end_time"
                                               ng-model="event.end_time" required readonly>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    </div>
                                    <script type="text/javascript">
                                        $('#end_time').timepicker();
                                    </script>
                                    <div class="help-block" ng-messages="eventForm.end_time.$error"
                                         ng-if="eventForm.end_time.$touched">
                                        <p ng-message="required">{{'ERROR.END_TIME_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required" ng-if="showDays">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="recurrent" class="control-label">{{'EVENT_OBJECT.RECURRENT' |
                                            translate}} <input id="recurrent" type="checkbox" name="recurrent"
                                                               ng-model="$parent.isRecurrent" /></label>

                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-md-6" ng-if="isRecurrent">
                                        <multiselect placeholder="{{'ADD_NEW' | translate}} Day"
                                                     ng-model="weekDaysAdded"
                                                     show-select-all="true" show-unselect-all="true"
                                                     ng-change="changedays(weekDaysAdded)"
                                                     search-limit="10" options="week_days" id-prop="display"
                                                     display-prop="display">
                                        </multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': eventForm.selecStats.$touched && eventForm.selecStats.$invalid }">
                                <div class="col-md-3">
                                    <label class="control-label ">{{'EVENT_OBJECT.PRIVACY' | translate}}</label>
                                    <select class="form-control input-small select2me" name="selecStats" required
                                            ng-model="event.privacy" ng-disabled="!$parent.showDays">
                                        <option value="">{{'SELECT' | translate}} ...</option>
                                        <option value="public">{{'EVENT_OBJECT.PUBLIC' | translate}}</option>
                                        <option value="private">{{'EVENT_OBJECT.PRIVATE' | translate}}</option>
                                    </select>
                                    <div class="help-block" ng-messages="eventForm.selecStats.$error"
                                         ng-if="eventForm.selecStats.$touched">
                                        <p ng-message="required">{{'ERROR.PRIVACY_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': eventForm.selecStatus.$touched && eventForm.selecStatus.$invalid }">
                                <div class="col-md-3">
                                    <label class="control-label ">{{'USER.STATUS' | translate}}</label>
                                    <select class="form-control input-small select2me" name="selecStatus" required
                                            ng-model="event.status" ng-disabled="!$parent.editStatus">
                                        <option value="">{{'SELECT' | translate}} ...</option>
                                        <option value="available">{{'EVENT_OBJECT.AVAILABLE' | translate}}</option>
                                        <option value="suspended">{{'EVENT_OBJECT.SUSPENDED' | translate}}</option>
                                        <option ng-if="!$parent.editStatus" value="ended">{{'EVENT_OBJECT.ENDED' | translate}}</option>
                                        <option ng-if="!$parent.editStatus" value="sold-out">{{'EVENT_OBJECT.SOLD-OUT' | translate}}</option>
                                    </select>
                                    <div class="help-block" ng-messages="eventForm.selecStatus.$error"
                                         ng-if="eventForm.selecStatus.$touched">
                                        <p ng-message="required">{{'ERROR.EVENT_ERR_SELECT' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': eventForm.facebook_link.$touched && eventForm.facebook_link.$invalid }">
                                <div class="col-md-4">
                                    <label class="control-label ">{{'FACEBOOK' | translate}}</label>
                                    <input type="text" placeholder="{{'FACEBOOK' | translate}} ..." name="facebook_link"
                                           maxlength="191" minlength="15" ng-model="event.facebook_link"
                                           class="form-control">
                                    <div class="help-block" ng-messages="eventForm.facebook_link.$error"
                                         ng-if="eventForm.facebook_link.$touched">
                                        <p ng-message="minlength">{{'ERROR.FACEBOOK_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.FACEBOOK_MAXL' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': eventForm.twitter_link.$touched && eventForm.twitter_link.$invalid }">
                                <div class="col-md-4">
                                    <label class="control-label ">{{'TWITTER' | translate}}</label>
                                    <input type="text" placeholder="Twitter ..." name="twitter_link"
                                           maxlength="191" minlength="14"
                                           ng-model="event.twitter_link" class="form-control">
                                    <div class="help-block" ng-messages="eventForm.twitter_link.$error"
                                         ng-if="eventForm.twitter_link.$touched">
                                        <p ng-message="minlength">{{'ERROR.TWITTER_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.TWITTER_MAXL' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': eventForm.location.$touched && eventForm.location.$invalid }">
                                <div class="col-sm-4 " style="float: left; ">
                                    <label class="control-label">{{'EVENT_OBJECT.COUNTRY' | translate}}</label>
                                    <ui-select ng-model="country.value" theme="bootstrap">
                                        <ui-select-match
                                                placeholder="{{'EVENT_OBJECT.PLACEHOLDERS.COUNTRY' | translate}}...">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in countries | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            <!--<small ng-bind-html="item.email | highlight: $select.search"></small>-->
                                        </ui-select-choices>
                                    </ui-select>
                                    <label class="control-label">{{'EVENT_OBJECT.CITY' | translate}}</label>
                                    <ui-select ng-model="city.value" ng-disabled="!country.value" theme="bootstrap">
                                        <ui-select-match
                                                placeholder="{{'EVENT_OBJECT.PLACEHOLDERS.CITY' | translate}}...">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in cities | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            <!--<small ng-bind-html="item.email | highlight: $select.search"></small>-->
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label " style="margin: 10px">{{'EVENT_OBJECT.ADDRESS' |
                                        translate}}</label>
                                    <input id="location" style="margin: 10px" type="text" name="location"
                                           class="form-control typeahead"
                                           placeholder="Escriba una direccion" required
                                           data-required-error="Especifique una direccion"
                                           maxlength="300" minlength="3" ng-model="event.location">
                                    <div class="help-block" ng-messages="eventForm.location.$error"
                                         ng-if="eventForm.location.$touched">
                                        <p ng-message="required">{{'ERROR.ADDRESS_REQ' | translate}}</p>
                                    </div>
                                    <div class="clearfix margin-top-10">
                                        <span class="label label-danger"> NOTE! </span> Please, choose a location in the map
                                    </div>
                                    <!--<h4>Response</h4>-->
                                    <!--<pre class="response" id="response2">-->
                                    <!--</pre>-->
                                    <div class="col-md-12" style="float: left; margin: 10px">
                                        <button data-toggle="collapse" type="button" title="Mostrar Coordenadas"
                                                class="btn btn-default" data-target="#coord">
                                            <span class="fa fa-angle-down"></span>
                                        </button>
                                    </div>

                                    <div class="col-md-4 collapse" id="coord" style="float: left; margin: 10px">

                                        <label>{{'EVENT_OBJECT.LONGITUDE' | translate}}</label>
                                        <input type="text" placeholder="{{'EVENT_OBJECT.LONGITUDE' | translate}} ..."
                                               id="longitud" disabled
                                               name="longitude"
                                               data-required-error="{{'ERROR.LONGITUDE_REQ' | translate}}"
                                               maxlength="190"
                                               minlength="3"
                                               ng-model="event.longitude" class="form-control">

                                        <label style="padding-top: 50px">{{'EVENT_OBJECT.LATITUDE' | translate}}</label>
                                        <input type="text" placeholder="{{'EVENT_OBJECT.LATITUDE' | translate}} ..."
                                               id="latitud" disabled
                                               name="latitud"
                                               data-required-error="{{'ERROR.LATITUDE_REQ' | translate}}"
                                               maxlength="190"
                                               minlength="3"
                                               ng-model="event.latitude" class="form-control">
                                    </div>


                                    <div class="col-md-12 col-lg-8">
                                        <div id="map"></div>
                                        <div style="clear:both"></div>
                                    </div>

                                </div>
                            </div>


                            <!--<div class="form-group required"-->
                            <!--ng-class="{ 'has-error': eventForm.location.$touched && eventForm.location.$invalid }">-->
                            <!--<div class="col-md-4">-->
                            <!--<label class="control-label ">Direccion</label>-->
                            <!--<input type="text" placeholder="Direccion ..." name="location"-->
                            <!--data-required-error="Especifique una direccion" maxlength="300" minlength="3"-->
                            <!--ng-model="event.location" class="form-control">-->
                            <!--<div class="help-block" ng-messages="eventForm.location.$error"-->
                            <!--ng-if="eventForm.location.$touched">-->
                            <!--<p ng-message="required">Direccion requeridos.</p>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group"-->
                            <!--ng-class="{ 'has-error': eventForm.latitude.$touched && eventForm.latitude.$invalid }">-->
                            <!--<div class="col-md-4">-->
                            <!--<label class="control-label ">Latitud</label>-->
                            <!--<input type="text" placeholder="Facebook ..." name="latitude"-->
                            <!--data-required-error="Especifique Latitud" maxlength="45" minlength="3"-->
                            <!--ng-model="event.latitude" class="form-control">-->
                            <!--<div class="help-block" ng-messages="eventForm.latitude.$error"-->
                            <!--ng-if="eventForm.latitude.$touched">-->
                            <!--<p ng-message="required">Latitud requeridos.</p>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group"-->
                            <!--ng-class="{ 'has-error': eventForm.longitude.$touched && eventForm.longitude.$invalid }">-->

                            <!--<div class="help-block" ng-messages="eventForm.longitude.$error"-->
                            <!--ng-if="eventForm.longitude.$touched">-->
                            <!--<p ng-message="required">Longitud requeridos.</p>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="form-group required">
                                <div class="col-sm-6">
                                    <label class="control-label">{{'CATEGORY' | translate}}</label>
                                    <ui-select ng-model="category.value" theme="bootstrap">
                                        <ui-select-match
                                                placeholder="{{'EVENT_OBJECT.PLACEHOLDERS.CATEGORY' | translate}}...">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in categories | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            <!--<small ng-bind-html="item.email | highlight: $select.search"></small>-->
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="portlet light bordered" ng-if="true">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-globe font-dark"></i>
                                        <span class="caption-subject bold uppercase"> {{'EVENT_OBJECT.TICKETS' | translate}} </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group">
                                                    <a href="#" data-target="#entradaModal" role="button"
                                                       class="btn sbold green" ng-click="resetEntrance()"
                                                       data-toggle="modal">
                                                        {{'ADD_NEW' | translate}} <i class="fa fa-plus"></i> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--INICIO DE TABLA DE ENTRADA-->
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                           datatable="ng" dt-options="vm.dtOptions" id="sample_3">
                                        <thead>
                                        <tr>

                                            <th> {{'EVENT_OBJECT.NAME' | translate}}</th>
                                            <th> {{'EVENT_OBJECT.DESCRIPTION' | translate}}</th>
                                            <th> {{'EVENT_OBJECT.PRICE' | translate}}</th>
                                            <th> {{'EVENT_OBJECT.ACTIONS' | translate}}</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="odd gradeX" ng-repeat="entrance in entrances">

                                            <td> {{entrance.name}}</td>
                                            <td> {{entrance.description}}</td>
                                            <td onshow="format(this.innerText | this.textContent)"> {{entrance.price |
                                                number:2}}
                                            </td>
                                            <td>
                                                <div class="pull-right action-buttons">
                                                    <a data-target="#entradaModal" role="button"
                                                       ng-click="resetEntrance(entrance)" class="btn purple"
                                                       data-toggle="modal"><span
                                                            class="glyphicon glyphicon-edit"></span> </a>
                                                    <!--<a ng-click="remove(event.id)" class="trash"><span class="glyphicon glyphicon-trash"></span>-->
                                                    <!--</a>-->
                                                    <button class="btn btn-default"
                                                            ng-confirm-click="{{'EVENT_OBJECT.DELETE_TICKET_CONFIRM' | translate}}"
                                                            title="{{'EVENT_OBJECT.TITLE.ENTRANCE' | translate}}"
                                                            confirmed-click="deleteEntrance({{entrance}},$index)"><span
                                                            class="glyphicon glyphicon-remove"></span></button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="portlet light bordered" ng-if="$parent.tickets">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-globe font-dark"></i>
                                        <span class="caption-subject bold uppercase"> {{'EVENT_OBJECT.TICKETS_SOLD' | translate}} </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <!--<div class="table-toolbar">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-md-6">-->
                                                <!--<div class="btn-group">-->
                                                    <!--<a href="#" data-target="#entradaModal" role="button"-->
                                                       <!--class="btn sbold green" ng-click="resetEntrance()"-->
                                                       <!--data-toggle="modal">-->
                                                        <!--{{'ADD_NEW' | translate}} <i class="fa fa-plus"></i> </a>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--INICIO DE TABLA DE ENTRADA-->
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                           datatable="ng" dt-options="vm.dtOptions" id="sample_4">
                                        <thead>
                                        <tr>

                                            <th> {{'EVENT_OBJECT.USER' | translate}}</th>
                                            <th> {{'EVENT_OBJECT.CODE' | translate}}</th>
                                            <th> {{'EVENT_OBJECT.NAME' | translate}}</th>
                                            <th> {{'EVENT_OBJECT.STATUS' | translate}}</th>
                                            <th> {{'EVENT_OBJECT.DATE' | translate}}</th>
                                            <th> {{'EVENT_OBJECT.PRICE' | translate}}</th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="odd gradeX" ng-repeat="ticket in tickets">

                                            <td> {{ticket.user_id}}</td>
                                            <td> ****{{ticket.codeSmall}}****</td>
                                            <td> {{ticket.entrance}}</td>
                                            <td> {{ticket.checked == 0 ? 'Pending' : 'Checked'}}</td>
                                            <td> {{ticket.date| date: 'EEE, dd MMM, hh:mm a'}}</td>
                                            <td> ${{ticket.price | number:2}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="portlet light bordered" ng-if="!$parent.isAdmin">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-globe font-dark"></i>
                                        <span class="caption-subject bold uppercase"> {{'EVENT_OBJECT.STAFF' | translate}} </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <multiselect placeholder="{{'ADD_NEW' | translate}} Staff"
                                                             ng-model="stavesAdded"
                                                             show-select-all="true" show-unselect-all="true"
                                                             ng-change="changeStaff(stavesAdded)"
                                                             search-limit="10" options="staves" id-prop="id"
                                                             display-prop="name">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                    <!--INICIO DE TABLA DE ENTRADA-->
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                           datatable="ng" dt-options="vm.dtOptions" id="sample_1">
                                        <thead>
                                        <tr>

                                            <th> {{'EVENT_OBJECT.NAME' | translate}}</th>
                                            <th> {{'USER.EMAIL' | translate}}</th>
                                            <!--<th> {{'EVENT_OBJECT.ACTIONS' | translate}}</th>-->

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="odd gradeX" ng-repeat="staff in stavesAdded">

                                            <td> {{staff.name}}</td>
                                            <td> {{staff.email}}</td>
                                            <!--<td>-->
                                            <!--<div class="pull-right action-buttons">-->
                                            <!--<a data-target="#entradaModal" role="button"-->
                                            <!--ng-click="resetEntrance(entrance)" class="btn purple"-->
                                            <!--data-toggle="modal"><span-->
                                            <!--class="glyphicon glyphicon-edit"></span> </a>-->
                                            <!--<a ng-click="remove(staff.id)" class="trash"><span class="glyphicon glyphicon-trash"></span>-->
                                            <!--</a>-->
                                            <!--<button class="btn btn-default"-->
                                            <!--ng-confirm-click="{{'EVENT_OBJECT.DELETE_STAFF_CONFIRM' | translate}}"-->
                                            <!--title="{{'EVENT_OBJECT.TITLE.STAFF' | translate}}"-->
                                            <!--confirmed-click="deleteStaff({{staff}},$index)"><span-->
                                            <!--class="glyphicon glyphicon-remove"></span></button>-->
                                            <!--</div>-->
                                            <!--</td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label col-md-1">{{'EVENT_OBJECT.UPLOAD_STAGE_IMAGE' |
                                    translate}}</label>
                                <div class="col-md-6">

                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail"
                                             style="width: 100%;max-width: 500px; height: 250px;">
                                            <img src="{{(stageSource == null) ? 'https://www.placehold.it/500x250/EFEFEF/AAAAAA&amp;text=Select+Image' : stageSource}}"
                                                 alt=""/></div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"
                                             data-trigger="fileinput"
                                             style="max-width: 500px; max-height: 250px;"></div>
                                        <div>
                                                            <span class="btn default btn-file">
                                                                <span class="fileinput-new"> {{'SELECT_IMAGE' | translate}} </span>
                                                                <span class="fileinput-exists"> {{'CHANGE_IMAGE' | translate}} </span>
                                                                <input type="file" file-model="$parent.stageFile"
                                                                       id="stageImage"> </span>
                                            <a href="#" class="btn red fileinput-exists"
                                               data-dismiss="fileinput"> {{'DELETE' | translate}} </a>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">

                                <div class="col-md-3 col-sm-12">
                                    <button class="btn btn-primary" ng-disabled="!$parent.editStatus" type="submit" onclick="$('.alert').show()">
                                        {{$parent.settings.action}}
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <div id="imagenModal" class="modal fade" role="dialog" aria-hidden="true">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">{{'EVENT_OBJECT.EVENT_IMAGE' | translate}}</h4>
                            </div>
                            <div class="modal-body">
                                <form id="formImagen" class="form-horizontal form-bordered" method="post"
                                      enctype="multipart/form-data">
                                    <div class="form-group ">
                                        <label class="control-label col-md-3">{{'EVENT_OBJECT.UPLOAD_IMAGE' |
                                            translate}}</label>
                                        <div class="col-md-9">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail"
                                                     style="width: 200px; height: 150px;">
                                                    <img src="{{(source == null) ? 'https://www.placehold.it/500x250/EFEFEF/AAAAAA&amp;text=Select+Image' : source}}"
                                                         alt=""/></div>
                                                <div class="fileinput-preview fileinput-exists thumbnail"
                                                     data-trigger="fileinput"
                                                     style="max-width: 500px; max-height: 250px;"></div>
                                                <div>
                                                            <span class="btn default btn-file">
                                                                <span class="fileinput-new"> {{'SELECT_IMAGE' | translate}} </span>
                                                                <span class="fileinput-exists"> {{'CHANGE_IMAGE' | translate}} </span>
                                                                <input type="file" file-model="$parent.file"
                                                                       id="imagen"> </span>
                                                    <a href="#" class="btn red fileinput-exists"
                                                       data-dismiss="fileinput"> {{'DELETE' | translate}} </a>
                                                </div>
                                            </div>
                                            <div class="clearfix margin-top-10">
                                                <span class="label label-danger"> NOTE! </span> Image preview only works
                                                in IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+. In older
                                                browsers the filename is shown instead.
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{'CANCEL' |
                                    translate}}
                                </button>
                                <button type="submit" class="btn btn-primary"
                                        data-dismiss="{{(file != null) ? 'modal': ''}}" ng-click="uploadFile()">
                                    <i class="fa fa-check"></i> {{'ACEPT' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="entradaModal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{'EVENT_OBJECT.TICKETS_DATA' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-vertical form-bordered" name="entranceForm">
                        <div class="form-body">
                            <div class="form-group required"></div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': entranceForm.name.$touched && entranceForm.name.$invalid }">
                                <div class="col-md-4">
                                    <label class="control-label ">{{'EVENT_OBJECT.NAME' | translate}}</label>
                                    <input type="text" placeholder="Nombre de Entrada..." required name="name"
                                           data-required-error="Especifique nombre del tipo de entrada" minlength="3"
                                           maxlength="45"
                                           ng-model="entrance.name" class="form-control">
                                    <div class="help-block" ng-messages="entranceForm.name.$error"
                                         ng-if="entranceForm.name.$touched">
                                        <p ng-message="minlength">{{'ERROR.NAME_ERR_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.NAME_ERR_MAXL' | translate}}</p>
                                        <p ng-message="required">{{'ERROR.NAME_ERR_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': entranceForm.precio.$touched && entranceForm.precio.$invalid }">
                                <div class="col-md-4">
                                    <label class="control-label ">{{'EVENT_OBJECT.PRICE' | translate}}</label>
                                    <input type="text"
                                           placeholder="{{'EVENT_OBJECT.PLACEHOLDERS.PRICE' | translate}}..." required
                                           id="precio" ng-disabled="entrance.isGratis"
                                           name="precio"
                                           data-required-error="{{'ERROR.PRICE_ERR_REQ' | translate}}" maxlength="20"
                                           minlength="1"
                                           ng-model="entrance.price" class="form-control">
                                    <div class="help-block" ng-messages="entranceForm.precio.$error"
                                         ng-if="entranceForm.precio.$touched">
                                        <p ng-message="minlength">{{'ERROR.PRICE_ERR_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.PRICE_ERR_MAXL' | translate}}</p>
                                        <p ng-message="required">{{'ERROR.PRICE_ERR_REQ' | translate}}</p>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': entranceForm.numEntr.$touched && entranceForm.numEntr.$invalid }">
                                <div class="col-md-4">
                                    <label class="control-label ">{{'EVENT_OBJECT.TICKETS_NUMBER' | translate}}</label>
                                    <input type="text" placeholder="{{'EVENT_OBJECT.TICKETS_NUMBER' | translate}}..."
                                           required name="numEntr"
                                           data-required-error="{{'ERROR.NUMBER_ERR_REQ' | translate}}" maxlength="11"
                                           minlength="1" id="TotEntradas"
                                           ng-model="entrance.quantity_availables" class="form-control">

                                    <div class="help-block" ng-messages="entranceForm.numEntr.$error"
                                         ng-if="entranceForm.numEntr.$touched">
                                        <p ng-message="minlength">{{'ERROR.NUMBER_ERR_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.NUMBER_ERR_MAXL' | translate}}</p>
                                        <p ng-message="required">{{'ERROR.NUMBER_ERR_REQ' | translate}}</p>
                                    </div>
                                </div>
                                <div class="col-md-8" style="float: right">
                                    <label style="margin-top: 1%;margin-bottom: 1%;vertical-align: middle;">{{'EVENT_OBJECT.FREE'
                                        | translate}} <input type="checkbox"
                                                             style="margin-top: 1%;margin-bottom: 1%;vertical-align: middle;"
                                                             ng-model="entrance.isGratis">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': entranceForm.description.$touched && entranceForm.description.$invalid }">
                                    <div class="col-md-12">
                                        <label class="control-label ">{{'EVENT_OBJECT.DESCRIPTION' | translate}}</label>
                                        <textarea type="text" name="description" style="height: 100px"
                                                  data-required-error="{{'ERROR.DESCRIP_REQ' | translate}}"
                                                  placeholder="{{'EVENT_OBJECT.PLACEHOLDERS.DESCRIPTION' | translate}}..."
                                                  minlength="3" maxlength="191" required
                                                  ng-model="entrance.description"
                                                  class="form-control"></textarea>
                                        <div class="help-block" ng-messages="entranceForm.description.$error"
                                             ng-if="entranceForm.description.$touched">
                                            <p ng-message="minlength">{{'ERROR.DESCRIP_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.DESCRIP_MAXL' | translate}}</p>
                                            <p ng-message="required">{{'ERROR.DESCRIP_REQ' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="row">
                        <br>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'CANCEL' | translate}}</button>
                    <button type="submit" class="btn btn-primary"
                            data-dismiss="{{($parent.entrance != null) ? 'modal': ''}}"
                            ng-click="add($parent.entrance)" ng-disabled="entranceForm.$invalid">
                        <i class="fa fa-check"></i> {{'ACEPT' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="staffModal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{'EVENT_OBJECT.STAFF_DATA' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-vertical form-bordered" name="staffForm" novalidate>
                        <div class="form-body">
                            <div class="form-group required"></div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': staffForm.name.$touched && staffForm.name.$invalid }">
                                <div class="col-md-4">
                                    <label class="control-label ">{{'EVENT_OBJECT.NAME' | translate}}</label>
                                    <input type="text"
                                           placeholder="{{'EVENT_OBJECT.PLACEHOLDERS.NAME' | translate}} ..." required
                                           name="name"
                                           data-required-error="{{'ERROR.NAME_ERR_REQ' | translate}} " minlength="3"
                                           maxlength="100"
                                           ng-model="staff.name" class="form-control">
                                    <div class="help-block" ng-messages="staffForm.name.$error"
                                         ng-if="staffForm.name.$touched">
                                        <p ng-message="minlength">{{'ERROR.NAME_ERR_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.NAME_ERR_MAXL' | translate}}</p>
                                        <p ng-message="required">{{'ERROR.NAME_ERR_REQ' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required "
                                 ng-class="{ 'has-error': staffForm.email.$touched && staffForm.email.$invalid }">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="control-label">{{'USER.EMAIL' | translate}}</label>
                                    <input type="email" class="form-control" id="inputEmail" name="email"
                                           ng-model="staff.email"
                                           placeholder="Email" minlength="5" maxlength="75" required>
                                    <div class="help-block" ng-messages="staffForm.email.$error"
                                         ng-if="staffForm.email.$touched">
                                        <p ng-message="minlength">{{'ERROR.LAST_NAME_MINL' | translate}}</p>
                                        <p ng-message="maxlength">{{'ERROR.EMAIL_ERR_MAXL' | translate}}</p>
                                        <p ng-message="required">{{'ERROR.EMAIL_ERR_REQ' | translate}}</p>
                                        <p ng-message="email">{{'ERROR.EMAIL_ERR_EMAIL' | translate}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <br>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'CANCEL' | translate}}</button>
                    <button type="button" class="btn btn-primary"
                            data-dismiss="{{($parent.staff != null) ? 'modal': ''}}"
                            ng-click="addStaff($parent.entrance)">
                        <i class="fa fa-check"></i> {{'ACEPT' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="messageModal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" ng-if="!$parent.settings.error">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{'TRANSACTION_SUCCESS' | translate}}</h4>
                </div>
                <div class="modal-header" ng-if="$parent.settings.error">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{'TRANSACTION_ERROR' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-if="$parent.settings.error" class="alert alert-danger">
                        <a href="#" class="close" aria-label="close">×</a>
                        {{$parent.settings.error}}
                    </div>
                    <div ng-if="$parent.settings.success" class="alert alert-success">
                        <a href="#" class="close" aria-label="close">×</a>
                        {{$parent.settings.success}}
                    </div>
                    <div class="row" style="padding-left: 10%" ng-if="$parent.settings.share_code">
                        <div><label class="control-label " style="display: block;">{{'EVENT_OBJECT.SHARE_CODE' |
                            translate}}:</label>
                            <label> {{$parent.settings.share_code}}</label>
                            <label class="control-label " style="display: block;">{{'EVENT_OBJECT.URL' |
                                translate}}:</label>
                            <a class="primary-link" href="{{$parent.settings.url}}">{{$parent.settings.url}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                    </div>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">{{'CANCEL' | translate}}</button>-->
                    <button type="button" class="btn btn-primary"
                            ng-click="changePage()" data-dismiss="modal">
                        <i class="fa fa-check"></i> {{'ACEPT' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="required-field-block">


    <div class="required-icon">
        <div class="text">*</div>
    </div>
</div>


</div>
<script>
    $('#messageModal').on('hidden.bs.modal', function () {
        if (!angular.element($("#eventModif")).scope().settings.error) {
            window.history.back();
        }
    });
    function openModal() {
        //$('#messageModal').modal('toggle');
        console.log('ok');
        $('#messageModal').modal('show');
    }
    ;
    function closeModal() {

        //$('#messageModal').modal('show');
    }
    ;
    ComponentsDateTimePickers.init(); // init todo page

    //    function uploadFileJQ() {
    //        var data = data = new FormData();
    //            data.append('file', document.getElementById('imagen').files[0]);
    //        jQuery.ajax({
    //            url: 'http://ec2-54-244-44-74.us-west-2.compute.amazonaws.com/api/uploads',
    //            data: data,
    //            cache: false,
    //            contentType: false,
    //            processData: false,
    //            type: 'POST',
    //            success: function(data){
    //                console.log(data);
    //            }
    //        });
    //    }
    $("#precio").inputmask('$ 999,999,999.99', {
        numericInput: true, autoUnmask: true, rightAlign: true,
        onBeforeMask: function (value, opts) {

            if (value.toString().indexOf('.') == -1) {
                var aux = "00.".concat(value.toString());
                value = aux;

            }
            console.log(value, " val");
            return value;
        },
        onUnMask: function (maskedValue, unmaskedValue) {
            //do something with the value
            var num = maskedValue.replace(/\,/g, '');
            num = num.replace(/\_/g, '');
            num = num.replace(/\$/g, '');
            return num;
        }
    });
    $("#TotEntradas").inputmask({
        "mask": "9",
        "repeat": 10,
        "greedy": false
    });

    function format(input) {
        console.log(input, '  45678698594');
        var num = '$' + input.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        return num;
    }
</script>
<style>
    .form-group.required .control-label:before {
        content: "*";
        color: red;
    }

    .typeahead,
    .tt-query,
    .tt-hint {
        width: 600px;
        height: 30px;
        padding: 8px 12px;
        font-size: 14px;
        font-family: sans-serif;
        line-height: 30px;
        outline: none;
    }

    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999;
        width: 300px;
    }

    .tt-dropdown-menu {
        width: 422px;
        margin-top: 5px;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 12px;
        line-height: 15px;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion p {
        margin: 0;
    }

    .gist {
        font-size: 14px;
    }

    .typeahead {
        background-color: #fff;
    }

    .typeahead.empty {
        border: 2px solid red;
    }

    .typeahead {
        width: 150%;
    }

    pre.response {
        float: left;
        width: 330px;
        height: 300px;
        border: 1px solid #DDD;
        font-size: 12px;
        overflow: scroll;
    }

    #map {
        width: 90%;
        height: 350px;
        margin-right: 20%;
        border: 1px solid #DDD;
    }

    .address-panel {
        float: left;
        width: 430px;
    }
</style>
<script>
    //    function displayResults(result, div) {
    //        html = ["Address: " + result.address()]
    //        html.push("Latitude: " + result.lat())
    //        html.push("Longitude: " + result.lng())
    //        html.push("Long names:")
    //        result.addressTypes().forEach(function (type) {
    //            html.push("  " + type + ": " + result.nameForType(type))
    //        })
    //        html.push("Short names:")
    //        result.addressTypes().forEach(function (type) {
    //            html.push("  " + type + ": " + result.nameForType(type, true))
    //        })
    //        div.html(html.join('\n'));
    //    }

    var addressPicker;
    function changeValue() {

        var event = angular.element($("#eventModif")).scope().event;
        var inicio = "";
        var fin = "";
        var keyPressed = false;
        if (event) {
            var lat = (event.latitude == undefined ? 4.1998321 : event.latitude);
            var long = (event.longitude == undefined ? -71.00800950000001 : event.longitude);
//            var location = (event.location == undefined ? "" : event.location);
        } else {
            var lat = ($('#latitud').value == undefined ? 4.1998321 : $('#latitud').value);
            var long = ($('#longitud').value == undefined ? -71.00800950000001 : $('#longitud').value);
            var location = ($('#location').value == undefined ? "" : $('#location').value);
        }
        console.log(location, " ajsd");
        $('#latitud').val(lat);
        $('#longitud').val(long);
        $('#location').val(location);
        // instantiate the addressPicker suggestion engine (based on bloodhound)
        addressPicker = new AddressPicker({
            map: {id: '#map'},
            marker: {draggable: true, visible: true, position: new google.maps.LatLng(lat, long)},
            zoomForLocation: 18,
            center: new google.maps.LatLng(lat, long),
            reverseGeocoding: true
        });
        addressPicker.map.setCenter(new google.maps.LatLng(lat, long));
        addressPicker.map.setZoom(14);
        // instantiate the typeahead UI
        $('#location').typeahead(null, {
            displayKey: 'description',
            source: addressPicker.ttAdapter()
        });
        addressPicker.bindDefaultTypeaheadEvent($('#location'));

        $(addressPicker).on('addresspicker:selected', function (event, result) {

            $('#latitud').val(result.lat());
            $('#longitud').val(result.lng());
            console.log("23 ", result.address());
            var scope = angular.element($("#eventModif")).scope();
            scope.$apply(function () {
                console.log(result.address(), " futir4");
                scope.event.latitude = result.lat();
                scope.event.longitude = result.lng();
                scope.event.location = result.address();
//                scope.change(result.nameForType('country'),result.nameForType('locality'));
                scope.change(result.address());
                scope.event.location = result.address();
                console.log(scope.event.location, " futir4");
            });
//            displayResults(result, $('#response2'))
            if (result.isReverseGeocoding()) {
                console.log("ok");
                $('#location').val(result.address())
            }
        });
        $('#location').on('focusin', function () {
            inicio = $(this).val();
            console.log('inicio ', inicio);
            addressPicker.reverseGeocode(addressPicker.marker.getPosition());
        });
        $('#location').on('focusout', function () {
            fin = $(this).val();
            console.log('fin ', fin);
            if (inicio != fin && keyPressed) {
                $(this).val(fin);
                console.log('fin2 ', fin);
                addressPicker.reverseGeocode(addressPicker.marker.getPosition());
            } else {
                $(this).val(inicio);
                console.log('inicio2 ', $(this).val());
                addressPicker.reverseGeocode(addressPicker.marker.getPosition());
            }
        });
        $('#location').on('keypress', function () {
            keyPressed = true;
        });
//        $('#location').on('focus', function() {$('.typeahead').typeahead('show', data);console.log("change")});
    }

    function changeLocation(data) {


//        console.log(addressPicker);
//        $('#location').focus();
        if (data && data != "") {
            console.log(data, ' 548845');
            console.log($('#location').value);
            $('#location').val(data);
            var geocoder = new google.maps.Geocoder();
            var scope = angular.element($("#eventModif")).scope();
            geocoder.geocode({address: data}, function (results, status) {
                $('#latitud').val(results[0].geometry.location.lat());
                $('#longitud').val(results[0].geometry.location.lng());
                scope.event.latitude = results[0].geometry.location.lat();
                scope.event.longitude = results[0].geometry.location.lng();
                if (status == google.maps.GeocoderStatus.OK) {
                    addressPicker.map.setCenter(results[0].geometry.location);
                    addressPicker.map.setZoom(15);
                    console.log(addressPicker.marker);
                    addressPicker.marker.setPosition(results[0].geometry.location);
                }
            });
        }

    }

</script>
