<!-- INICIO DE HEADER DE LA PAGINA-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="eventos">{{'EVENTS' | translate}}</a>
        </li>
    </ul>
</div>
<!--<h3 class="page-title"> Eventos </h3>-->
<!-- FIN DE HEADER DE LA PAGINA-->
<!-- INICIO DE CONTENIDO PRINCIPAL -->
<div ng-controller="EventosController">

    <div class="row">

        <div class="col-md-12" ng-if="true">
            <!-- INICIO DE CONTENEDOR DE LA TABLA-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-calendar-o font-dark"></i>
                        <span class="caption-subject bold uppercase"> {{'EVENTS' | translate}} </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <!--<div class="table-toolbar" ng-if="!$parent.isAdmin">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="btn-group">-->
                                    <!--<button id="sample_editable_1_new2" ui-sref="evento"-->
                                            <!--class="btn sbold green">-->
                                        <!--{{'ADD_NEW' | translate}}-->
                                        <!--<i class="fa fa-plus"></i>-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--INICIO DE TABLA DE EVENTOS-->
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column"
                               datatable="ng" dt-options="vm.dtOptions" width="100%" id="sample_1">
                            <thead>
                            <tr>

                                <th style="width: 300px"> {{'EVENT_OBJECT.NAME' | translate}}</th>
                                <th style="width: 500px"> {{'EVENT_OBJECT.DATE_EVENT' | translate}} </th>
                                <th style="width: 250px"> {{'EVENT_OBJECT.EVENT_CATEGORY' | translate}} </th>
                                <th style="width: 100px"> {{'EVENT_OBJECT.PRIVACY' | translate}} </th>
                                <th style="width: 100px"> {{'EVENT_OBJECT.STATUS' | translate}} </th>
                                <th style="width: 100px"> {{'EVENT_OBJECT.EVENT_LINK' | translate}}</th>
                                <th style="width: 100px"> {{'EVENT_OBJECT.LOCATION' | translate}}</th>
                                <th style="width: 100px"> {{'EVENT_OBJECT.ACTIONS' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" ng-repeat="event in events">

                                <td> {{event.name}}</td>
                                <td> {{event.start_date}} - {{event.end_date}}</td>
                                <td> {{event.category.name}}</td>
                                <td> {{event.privacy}}</td>
                                <td> {{event.status}}</td>
                                <td>
                                    <div ng-if="event.twitter_link" class="profile-desc-link">
                                        <i class="fa fa-twitter"></i>
                                        <a ui-sref="{{event.twitter_link}}">{{'TWITTER' | translate}}</a>
                                    </div>
                                    <br/>
                                    <div ng-if="event.facebook_link" class="profile-desc-link">
                                        <i class="fa fa-facebook"></i>
                                        <a ui-sref="{{event.facebook_link}}">{{'FACEBOOK' | translate}}</a>
                                    </div>
                                </td>
                                <td class="center"> {{event.location}}
                                <td>
                                    <div class="pull-right action-buttons">
                                        <a ui-sref="tickets({ id: {{event.id}} })"><span
                                                class="glyphicon glyphicon-list-alt"></span> </a>
                                        <!--<a ng-click="remove(event.id)" class="trash"><span class="glyphicon glyphicon-trash"></span>-->
                                        <!--</a>-->
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- FINAL DE CONTENEDOR DE TABLA-->
        </div>

    </div>
</div>
<!-- INICIO DE CONTENIDO PRINCIPAL-->