<!-- INICIO DE PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="finanzas">{{'FINANCES' | translate}}</a>
        </li>

    </ul>

</div>
<h3 class="page-title"> {{'FINANCES' | translate}} </h3>
<!-- FIN DE PAGE HEADER-->
<!-- INICIO DE CONTENIDO PRINCIPAL -->
<div ng-controller="FinanzaController" ng-if="$parent.isAdmin">

    <div class="row">
        <div style="margin-bottom: 10px" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="caption-subject font-blue-madison bold uppercase">Today</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-usd"></i>
                </div>
                <div class="details">
                    <div class="number"> {{$parent.finances.selledTickets}}</div>
                    <div class="desc"> {{'FINANCE.SOLD' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-percent"></i>
                </div>
                <div class="details">
                    <div class="number"> {{$parent.finances.percentOfTicketsSelled}}</div>
                    <div class="desc"> {{'FINANCE.SOLD_PERCENT' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-money"></i>
                </div>
                <div class="details">
                    <div class="number"> {{$parent.finances.collectedMoney}}</div>
                    <div class="desc"> {{'FINANCE.MONEY_COLLECT' | translate}}</div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-ticket"></i>
                </div>
                <div class="details">
                    <div class="number"> {{$parent.finances.availablesTickets}}</div>
                    <div class="desc"> {{'FINANCE.AVAILABLE' | translate}}</div>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">{{'FINANCE.BY_ORGANIZATION' | translate}}</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label ng-click="updateFilter('week','O')"
                                   class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option2">Week</label>
                            <label ng-click="updateFilter('month','O')"
                                   class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option5">Month</label>
                            <label ng-click="updateFilter('year','O')"
                                   class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option6">Year</label>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column"
                               datatable="ng" dt-options="vm2.dtOptions" id="sample_3">
                            <thead>
                            <tr class="uppercase">
                                <th width="25%"> {{'ORGANIZATION' | translate}}</th>
                                <th> {{'FINANCE.EARNINGS' | translate}}</th>
                                <th> {{'FINANCE.SOLD2' | translate}}</th>
                                <th> {{'FINANCE.ALL_TICKETS' | translate}}</th>
                                <th> % {{'FINANCE.SALE' | translate}}</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="finance in financesOrganizer">
                                <td class="fit" >
                                    <img style="max-width: 50px" class="user-pic rounded"
                                         ng-src="{{(finance.picture == null) ? 'appData/img/events/no_disponible_small.gif' : finance.picture}}">

                                    <p class="primary-link">{{finance.name}}</p>
                                </td>
                                <td> {{finance.collectedMoney}}</td>
                                <td> {{finance.selledTickets}}</td>
                                <td> {{finance.selledTickets + finance.availablesTickets}}</td>
                                <td>
                                    <span class="bold theme-font">{{finance.percentOfTicketsSelled}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
        <div class="col-md-12">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">{{'FINANCE.BY_EVENT' | translate}}</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label ng-click="updateFilter('week','EA')"
                                   class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option7">Week</label>
                            <label ng-click="updateFilter('month','EA')"
                                   class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option8">Month</label>
                            <label ng-click="updateFilter('year','EA')"
                                   class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option9">Year</label>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- START TASK LIST -->
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column"
                               datatable="ng" dt-options="vm.dtOptions" id="sample_2">
                            <thead>
                            <tr class="uppercase">
                                <th width="25%"> {{'EVENT' | translate}}</th>
                                <th width="25%"> {{'ORGANIZATION' | translate}}</th>
                                <th> {{'FINANCE.EARNINGS' | translate}}</th>
                                <th> {{'FINANCE.SOLD2' | translate}}</th>
                                <th> {{'FINANCE.ALL_TICKETS' | translate}}</th>
                                <th> % {{'FINANCE.SALE' | translate}}</th>
                                <th>{{'FINANCE.PAYMENT_INFORMATION' | translate}}</th>
                                <th>{{'ACTIONS' | translate}}</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="finance in financesEvent">
                                <td class="fit">
                                    <p class="primary-link">{{finance.eventName}}</p>
                                </td>
                                <td class="fit">
                                    <p class="primary-link">{{finance.org_name}}</p>
                                </td>
                                <td> {{finance.collectedMoney}}</td>
                                <td> {{finance.selledTickets}}</td>
                                <td> {{finance.selledTickets + finance.availablesTickets}}</td>
                                <td>
                                    <span class="bold theme-font">%{{(finance.selledTickets * 100 ) / (finance.selledTickets + finance.availablesTickets) | number:2}}</span>
                                </td>
                                <td> <label ng-if="finance.paid == 1"> Date: </label> {{finance.paid_date}} <label ng-if="finance.paid == 1"> - Reference: </label> {{ finance.reference}}</td>
                                <td>
                                    <div class="pull-right action-buttons" ng-if="finance.status == 'ended' && finance.paid == 0">
                                        <a ui-sref="payEvent({ id: {{finance.event_id}} })" title="Add payment information"><span
                                                class="glyphicon glyphicon-saved"></span> </a>
                                        <!--<a ng-click="remove(event.id)" class="trash"><span class="glyphicon glyphicon-trash"></span>-->
                                        <!--</a>-->
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- END START TASK LIST -->

                    <!--<div class="task-footer">-->
                    <!--<div class="btn-arrow-link pull-right">-->
                    <!--<a href="#">See All Tasks</a>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
    </div>
    <!-- FINAL DE ESTADOS DEL PANEL -->


</div>

<div ng-controller="FinanzaController" ng-if="!$parent.isAdmin">

    <div class="row">
        <div style="margin-bottom: 10px" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="caption-subject font-blue-madison bold uppercase">Today</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-usd"></i>
                </div>
                <div class="details">
                    <div class="number"> {{$parent.finances[0].selledTickets}}</div>
                    <div class="desc"> {{'FINANCE.SOLD' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-percent"></i>
                </div>
                <div class="details">
                    <div class="number"> {{$parent.finances[0].percentOfTicketsSelled}}</div>
                    <div class="desc"> {{'FINANCE.SOLD_PERCENT' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-money"></i>
                </div>
                <div class="details">
                    <div class="number"> {{$parent.finances[0].collectedMoney}}</div>
                    <div class="desc"> {{'FINANCE.MONEY_COLLECT' | translate}}</div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-ticket"></i>
                </div>
                <div class="details">
                    <div class="number"> {{$parent.finances[0].availablesTickets}}</div>
                    <div class="desc"> {{'FINANCE.AVAILABLE' | translate}}</div>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">{{'FINANCE.BY_EVENT' | translate}}</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label ng-click="updateFilter('week','E')"
                                   class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">Week</label>
                            <label ng-click="updateFilter('month','E')"
                                   class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option3">Month</label>
                            <label ng-click="updateFilter('year','E')"
                                   class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option4">Year</label>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <!--<div class="task-content">-->

                    <!-- START TASK LIST -->
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column"
                               datatable="ng" dt-options="vm.dtOptions" id="sample_1">
                            <thead>
                            <tr class="uppercase">

                                <th width="25%"> {{'EVENT' | translate}}</th>
                                <th> {{'FINANCE.EARNINGS' | translate}}</th>
                                <th> {{'FINANCE.SOLD2' | translate}}</th>
                                <th> {{'FINANCE.ALL_TICKETS' | translate}}</th>
                                <th> % {{'FINANCE.SALE' | translate}}</th>
                                <th>{{'FINANCE.PAYMENT_INFORMATION' | translate}}</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="finance in financesEvent">

                                <td>
                                    {{finance.eventName}}
                                </td>
                                <td> {{finance.collectedMoney}}</td>
                                <td> {{finance.selledTickets}}</td>
                                <td> {{finance.selledTickets + finance.availablesTickets}}</td>
                                <td>
                                    <span class="bold theme-font">%{{(finance.selledTickets * 100 ) / (finance.selledTickets + finance.availablesTickets) | number:2}}</span>
                                </td>
                                <td> <label ng-if="finance.paid == 1"> Date: </label> {{finance.paid_date}} <label ng-if="finance.paid == 1"> - Reference: </label> {{ finance.reference}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- END START TASK LIST -->

                    <!--<div class="task-footer">-->
                    <!--<div class="btn-arrow-link pull-right">-->
                    <!--<a href="#">See All Tasks</a>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
    </div>
    <!-- FINAL DE ESTADOS DEL PANEL -->


</div>
<!-- FIN DEL CONTENIDO PRINCIPAL -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
    //    $(document).ready(function() {
    //        $('#sample_2').DataTable( {
    //            buttons: [
    //                {
    //                    extend: 'excelHtml5',
    //                    title: 'Data export'
    //                },
    //                {
    //                    extend: 'pdfHtml5',
    //                    title: 'Data export'
    //                }
    //            ]
    //        } );
    //        $('#sample_1').DataTable( {
    //            buttons: [
    //                {
    //                    extend: 'excelHtml5',
    //                    title: 'Data export'
    //                }
    //            ]
    //        } );
    //    } );
</script>
<style>
    .portlet.light .dataTables_wrapper .dt-buttons {
        margin-top: 0px;
        margin-left: 10px;
    }
</style>
<!-- BEGIN MAIN JS & CSS -->
