<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="organizadores">{{'PAGE_BAR_ORG' | translate}}</a>
        </li>
    </ul>
</div>
<h3 class="page-title"> {{'PAGE_BAR_ORG' | translate}} </h3>
<!-- FIN DE PAGE HEADER-->
<!-- INICIO DE CONTENIDO PRINCIPAL -->
<div ng-controller="OrganizadoresController">


    <div class="row">
        <div class="col-md-12" ng-if="true">
            <!-- INICIO DE CONTENEDOR DE TABLA DE PRODUCTORES ACTIVOS-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-male font-dark"></i>
                        <span class="caption-subject bold uppercase">{{'ORGANIZER.ORG_ACTIV' | translate}}</span>
                    </div>

                </div>

                <!--INICIO DE TABLA -->
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       datatable="ng" dt-options="vm.dtOptions" id="sample_1">
                    <thead>
                    <tr>
                        <th width="15%">{{'ORGANIZER.NAME' | translate}}</th>
                        <th width="15%"> {{'ORGANIZER.PHONE' | translate}}</th>
                        <th width="15%"> {{'ORGANIZER.WEB_SITE' | translate}}</th>
                        <th width="15%"> {{'ORGANIZER.CONTACT' | translate}}</th>
                        <th width="15%"> {{'ORGANIZER.PHONE_CONT' | translate}}</th>
                        <th>{{'ORGANIZER.ACTIONS' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX" ng-repeat="orgAct in organizadoresAct ">
                        <td><a ui-sref="profile.dashboard({ id: {{orgAct.id}} })" class="item-name primary-link">
                            {{orgAct.organization.name}} </a></td>
                        <td class="center"> {{orgAct.organization.name}}</td>
                        <td>
                            <a href="{{orgAct.email}}"> {{orgAct.email}} </a>
                        </td>
                        <td>{{orgAct.first_name}} {{orgAct.last_name}}</td>
                        <td class="center"> {{orgAct.phone_number}}</td>
                        <td>
                            <!--<button class="btn btn-default" ng-confirm-click="{{'ORGANIZER.CONFIRM_DISAPPROVE' | translate}}"-->
                            <!--title="{{'ORGANIZER.TITLE.DISAPPROVE' | translate}}" confirmed-click="updateUser({{orgAct}},$index)"><span-->
                            <!--class="glyphicon glyphicon-remove"></span></button>-->
                            <button class="btn btn-default" type="button" ng-if="orgAct.organizations.data.length === 0"
                                    title="{{'ORGANIZER.TITLE.ADD_ORGANIZATION' | translate}}">
                                <a ui-sref="addOrganizador({ id: {{orgAct.id}} })"><span
                                        class="glyphicon glyphicon-plus"></span></a></button>
                            <button class="btn btn-default" type="button" ng-if="orgAct.organizations.data[0].name"
                                    title="{{'ORGANIZER.TITLE.EDIT_ORGANIZER' | translate}}">
                                <a ui-sref="edOrganizador({ id: {{orgAct.organizations.data[0].id}} })"><span
                                        class="glyphicon glyphicon-edit"></span> </a></button>
                        </td>
                    </tr>
                </table>
                <!--FIN DE TABLA DE PRODUCTORES ACTIVOS -->
            </div>
        </div>
        <!-- FINAL DE CONTENEDOR DE TABLA DE PRODUCTORES ACTIVOS-->

        <div class="col-md-12">
            <!-- INCIO DE CONTENEDOR DE TABLA DE SOLICITUDES DE PRODUCTORES-->
            <div class="portlet light bordered" ng-if="true">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-user-plus font-dark"></i>
                        <span class="caption-subject bold uppercase">{{'ORGANIZER.WITH_OUT_ORGANIZATION' | translate}}</span>
                    </div>
                </div>
                <div class="portlet-body">

                    <!--INICIO DE TABLA DE SOLICITUDES DE PRODUCTORES-->
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                           datatable="ng" dt-options="vm2.dtOptions" id="sample_2">
                        <thead>
                        <tr>
                            <th width="15%">{{'ORGANIZER.NAME' | translate}}</th>
                            <th width="15%"> {{'ORGANIZER.PHONE' | translate}}</th>
                            <th width="15%"> {{'ORGANIZER.WEB_SITE' | translate}}</th>
                            <th width="15%"> {{'ORGANIZER.CONTACT' | translate}}</th>
                            <th width="15%"> {{'ORGANIZER.PHONE_CONT' | translate}}</th>
                            <th>{{'ORGANIZER.ACTIONS' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="orgSn in organizadoresSnOrg">

                            <td><a ui-sref="profile.approve({ id: {{orgSn.id}} })" class="item-name primary-link">
                                {{orgSn.organization.name}} </a></td>
                            <td class="center"> {{orgSn.organization.description}}</td>
                            <td>
                                <a href="{{orgSn.email}}"> {{orgSn.email}} </a>
                            </td>
                            <td>{{orgSn.first_name}} {{orgSn.last_name}}</td>
                            <td class="center"> {{orgSn.phone_number}}</td>
                            <td>
                                <button class="btn btn-default"
                                        title="{{'ORGANIZER.TITLE.ADD_ORGANIZATION' | translate}}"
                                        data-target="#imagenModal"
                                        data-toggle="modal" ng-click="setOrganizator(orgSn)">
                                    <span class="glyphicon glyphicon-plus"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--FIN DE TABLA DE SOLICITUDES DE PRODUCTORES-->
                </div>
            </div>
            <!-- FIN DE TABLA DE SOLICITUDES DE PRODUCTORES-->
        </div>
        <div class="col-md-12">
            <!-- INCIO DE CONTENEDOR DE TABLA DE SOLICITUDES DE PRODUCTORES-->
            <div class="portlet light bordered" ng-if="true">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-user-plus font-dark"></i>
                        <span class="caption-subject bold uppercase">{{'ORGANIZER.ORGANIZERS_REQUEST' | translate}}</span>
                    </div>
                </div>
                <div class="portlet-body">

                    <!--INICIO DE TABLA DE SOLICITUDES DE PRODUCTORES-->
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                           datatable="ng" dt-options="vm3.dtOptions" id="sample_3">
                        <thead>
                        <tr>
                            <th width="15%">{{'ORGANIZER.NAME' | translate}}</th>
                            <th width="15%"> {{'ORGANIZER.PHONE' | translate}}</th>
                            <th width="15%"> {{'ORGANIZER.WEB_SITE' | translate}}</th>
                            <th width="15%"> {{'ORGANIZER.EMAIL' | translate}}</th>
                            <!--<th width="15%"> {{'ORGANIZER.PHONE_CONT' | translate}}</th>-->
                            <th>{{'ORGANIZER.ACTIONS' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="orgEsp in organizadoresEspera">

                            <td><a data-target="#OrganizerModal"
                                   data-toggle="modal" ng-click="selectOrganizerRequest(orgEsp)"
                                   class="item-name primary-link">
                                {{orgEsp.name}} </a></td>
                            <td class="center"> {{orgEsp.phone}}</td>
                            <td>
                                <a href="{{orgEsp.website}}"> {{orgEsp.website}} </a>
                            </td>
                            <td>{{orgEsp.email}}</td>
                            <!--<td class="center"> {{orgEsp.phone_number}}</td>-->
                            <td>
                                <button class="btn btn-default"
                                        ng-confirm-click="{{'ORGANIZER.CONFIRM_APPROVE' | translate}}"
                                        title="{{'ORGANIZER.TITLE.APPROVE' | translate}}"
                                        confirmed-click="aproveRejectOrganizer({{orgEsp.id}},true)">
                                    <span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-default"
                                        ng-confirm-click="{{'ORGANIZER.CONFIRM_DISAPPROVE' | translate}}"
                                        title="{{'ORGANIZER.TITLE.DISAPPROVE' | translate}}"
                                        confirmed-click="aproveRejectOrganizer({{orgEsp.id}},false)">
                                    <span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--FIN DE TABLA DE SOLICITUDES DE PRODUCTORES-->
                </div>
            </div>
            <!-- FIN DE TABLA DE SOLICITUDES DE PRODUCTORES-->
        </div>
    </div>
    <div id="imagenModal" class="modal fade" role="dialog" aria-hidden="true">

        <div class="modal-dialog" ng-controller="AddOrganization">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{'ORGANIZER.CREATE_ORGANIZATION' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <form id="formOrg" name="formOrg"
                          class="form-vertical form-bordered">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group ">
                                    <div class="col-md-12">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail" style="width: 350px; height: 150px;">
                                                <img src="{{(source == null) ? 'https://www.placehold.it/500x250/EFEFEF/AAAAAA&amp;text=Select+Image' : source}}"
                                                     alt=""/></div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"
                                                 data-trigger="fileinput"
                                                 style="max-width: 500px; max-height: 250px;"></div>
                                            <div>
                                                            <span class="btn default btn-file">
                                                                <span class="fileinput-new"> {{'SELECT_IMAGE' | translate}} </span>
                                                                <span class="fileinput-exists"> {{'CHANGE_IMAGE' | translate}} </span>
                                                                <input type="file" file-model="file"> </span>
                                                <a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
                                                    {{'DELETE' | translate}} </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group required" style="margin-bottom: 0%"
                                     ng-class="{ 'has-error': formOrg.nombre.$touched && formOrg.nombre.$invalid } ">
                                    <div class="col-md-4">
                                        <label class="control-label ">{{'ORGANIZER.NAME' | translate}}</label>
                                        <input type="text"
                                               placeholder="{{'ORGANIZER.PLACEHOLDERS.NAME_ORG' | translate}} ..."
                                               required name="nombre"
                                               data-required-error="{{'ERROR.ORG_ERR_NAME_ORG' | translate}}"
                                               minlength="3"
                                               maxlength="191"
                                               ng-model="organization.name" class="form-control">
                                        <div class="help-block" ng-messages="formOrg.nombre.$error"
                                             ng-if="formOrg.nombre.$touched">
                                            <p ng-message="minlength">{{'ERROR.NAME_ERR_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.NAME_ERR_MAXL' | translate}}</p>
                                            <p ng-message="required">{{'ERROR.NAME_ERR_REQ' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group required" style="margin-bottom: 0%"
                                     ng-class="{ 'has-error': formOrg.telephone.$touched && formOrg.telephone.$invalid}">
                                    <div class="col-md-4">
                                        <label class="control-label ">{{'ORGANIZER.PHONE' | translate}}</label>
                                        <input type="text"
                                               placeholder="{{'ORGANIZER.PLACEHOLDERS.PHONE_ORG' | translate}}..."
                                               required name="telephone"
                                               data-required-error="{{'ERROR.PHONE_REQ' | translate}}" minlength="3"
                                               maxlength="50"
                                               ng-model="organization.phone" class="form-control">
                                        <div class="help-block" ng-messages="formOrg.telephone.$error"
                                             ng-if="formOrg.telephone.$touched">
                                            <p ng-message="minlength">{{'ERROR.PHONE_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.PHONE_MAXL' | translate}}</p>
                                            <p ng-message="required">{{'ERROR.PHONE_REQ' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 0%"
                                     ng-class="{ 'has-error': formOrg.email.$touched && formOrg.email.$invalid }">
                                    <div class="col-md-4">
                                        <label class="control-label ">{{'ORGANIZER.EMAIL' | translate}}</label>
                                        <input type="email"
                                               placeholder="{{'ORGANIZER.PLACEHOLDERS.EMAIL' | translate}} ..."
                                               name="email"
                                               maxlength="191" minlength="4" ng-model="organization.email"
                                               class="form-control">
                                        <div class="help-block" ng-messages="userForm.email.$error"
                                             ng-if="formOrg.email.$touched">
                                            <p ng-message="minlength">{{'ERROR.EMAIL_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.EMAIL_MAXL' | translate}}</p>
                                            <p ng-message="email">{{'ERROR.EMAIL_ERR_EMAIL' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group" style="margin-bottom: 0%"
                                     ng-class="{ 'has-error': formOrg.webSite.$touched && formOrg.webSite.$invalid }">
                                    <div class="col-md-4">
                                        <label class="control-label ">{{'ORGANIZER.WEB_SITE' | translate}}</label>
                                        <input type="text"
                                               placeholder="{{'ORGANIZER.PLACEHOLDERS.WEB_SITE' | translate}} ..."
                                               name="webSite"
                                               maxlength="191" minlength="14"
                                               ng-model="organization.website" class="form-control">
                                        <div class="help-block" ng-messages="formOrg.webSite.$error"
                                             ng-if="formOrg.webSite.$touched">
                                            <p ng-message="minlength">{{'ERROR.WEB_SITE_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.WEB_SITE_MAXL' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 0%"
                                     ng-class="{ 'has-error': formOrg.facebook_link.$touched && formOrg.facebook_link.$invalid }">
                                    <div class="col-md-4">
                                        <label class="control-label ">{{'FACEBOOK' | translate}}</label>
                                        <input type="text" placeholder="{{'FACEBOOK' | translate}} ..."
                                               name="facebook_link"
                                               maxlength="191" minlength="15" ng-model="organization.facebook_link"
                                               class="form-control">
                                        <div class="help-block" ng-messages="userForm.facebook_link.$error"
                                             ng-if="formOrg.facebook_link.$touched">
                                            <p ng-message="minlength">{{'ERROR.FACEBOOK_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.FACEBOOK_MAXL' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 0%"
                                     ng-class="{ 'has-error': formOrg.twitter_link.$touched && formOrg.twitter_link.$invalid }">
                                    <div class="col-md-4">
                                        <label class="control-label ">{{'TWITTER' | translate}}</label>
                                        <input type="text" placeholder="{{'TWITTER' | translate}} ..."
                                               name="twitter_link"
                                               maxlength="191" minlength="14"
                                               ng-model="organization.twitter_link" class="form-control">
                                        <div class="help-block" ng-messages="formOrg.twitter_link.$error"
                                             ng-if="formOrg.twitter_link.$touched">
                                            <p ng-message="minlength">{{'ERROR.TWITTER_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.TWITTER_MAXL' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group required" style="margin-bottom: 0%"
                                     ng-class="{ 'has-error': formOrg.descripcion.$touched && formOrg.descripcion.$invalid } ">
                                    <div class="col-md-12">
                                        <label class="control-label ">{{'ORGANIZER.DESCRIPTION' | translate}}</label>
                                        <textarea type="text" name="descripcion"
                                                  data-required-error="{{'ERROR.DESCRIP_REQ' | translate}}"
                                                  placeholder="{{'ORGANIZER.DESCRIPTION' | translate}}..."
                                                  minlength="3" maxlength="191" required
                                                  ng-model="organization.description"
                                                  class="form-control">
                                        </textarea>
                                        <div class="help-block" ng-messages="formOrg.descripcion.$error"
                                             ng-if="formOrg.descripcion.$touched">
                                            <p ng-message="minlength">{{'ERROR.DESCRIP_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.DESCRIP_MAXL' | translate}}</p>
                                            <p ng-message="required">{{'ERROR.DESCRIP_REQ' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'CANCEL' | translate}}</button>
                    <button type="submit" class="btn btn-primary"
                            data-dismiss="{{(organization.description != null) ? 'modal': ''}}"
                            ng-click="submit($parent.organization)">
                        <i class="fa fa-check"></i> {{'Acept' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="OrganizerModal" class="modal fade" role="dialog" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{'ORGANIZER.ORG_DATA_REQ' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div >
                                <!-- PORTLET MAIN -->
                                <div class="portlet light ">

                                    <!-- SIDEBAR foto usuario -->
                                    <div class="profile-userpic">
                                        <img style=" width: 100% !important; height: 100% !important;"
                                             src="{{(usuario.avatar == null) ? 'appData/img/users/default.png' : usuario.avatar}}"
                                             class="img-responsive" alt=""></div>
                                    <!-- fin SIDEBAR foto usuario -->
                                    <!-- SIDEBAR USER TITLE -->
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name"> {{usuario.first_name}}
                                            {{usuario.last_name}}
                                        </div>
                                        <!--<div class="profile-usertitle-job"> Developer</div>-->
                                    </div>

                                </div>
                                <!-- END PORTLET MAIN -->
                                <!-- PORTLET MAIN -->
                                <div class="portlet light">
                                    <!-- STAT -->

                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-bar-chart theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">{{'ORGANIZER.CONTACT_PROFILE' | translate}}</span>
                                        </div>
                                    </div>
                                    <!--</div>-->
                                    <!-- END STAT -->
                                    <div>
                                        <!--<h4 class="profile-desc-title">Enlaces para </h4>-->
                                        <!--<span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>-->
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-globe"></i>
                                            <a href="mailto:{{organizador.email}}">{{usuario.email}}</a>
                                        </div>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-phone"></i>
                                            <a href="#">{{usuario.phone_number}}</a>
                                        </div>

                                    </div>
                                </div>
                                <!-- END PORTLET MAIN -->
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">

                            <div class="item" style="margin-left: 10%">
                                <div class="item-body">
                                    <img style="max-height:425px;width:300px;" onshow="this.height > 425 ? 425: true"
                                         src="{{(peticionOrganizador.picture == null) ? 'appData/img/events/no-disponible.png' : peticionOrganizador.picture}}"
                                         class="img-responsive" alt=""></div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">{{'ORGANIZER.NAME' | translate}}</a>
                                    </div>
                                </div>
                                <div class="item-body">{{peticionOrganizador.name}}</div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">{{'ORGANIZER.DESCRIPTION' |
                                            translate}}</a>
                                    </div>
                                </div>
                                <div class="item-body"> {{peticionOrganizador.description}}</div>
                            </div>

                            <div class="margin-top-20 profile-desc-link">
                            <i class="fa fa-twitter"></i>
                            <a href="{{peticionOrganizador.twitter}}">Twitter</a>
                            </div>
                            <div class="margin-top-20 profile-desc-link">
                            <i class="fa fa-facebook"></i>
                            <a href="{{peticionOrganizador.facebook}}">Facebook</a>
                            </div>
                            <div class="margin-top-20 profile-desc-link">
                                <i class="fa fa-globe"></i>
                                <a href="{{peticionOrganizador.website}}">{{peticionOrganizador.website}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'CLOSE' | translate}}</button>
                    <!--<button type="submit" class="btn btn-primary" data-dismiss="{{(organization.description != null) ? 'modal': ''}}"-->
                    <!--ng-click="submit($parent.organization)">-->
                    <!--<i class="fa fa-check"></i> {{'Acept' | translate}}-->
                    <!--</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End MAIN CONTENT -->
<style>
    .form-group.required .control-label:before {
        content: "*";
        color: red;
    }
</style>
