<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<a ui-sref="dashboard">Inicio</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a ui-sref="dashboard">Panel de Administración</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a ui-sref="organizadores">Productores</a>
		</li>
	</ul>
</div>
<!---END PAGE HEADER-->
<div ng-controller="OrganizadoresController">
	<h3 class="page-title">{{$parent.settings.pageTitle}}</h3>

	<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>
	<div class="row">
		<div class="col-md-12">
			<div class="portlet box green">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-user"></i>Datos de organizacion </div>
					<div class="tools">
						<a href="javascript:;" class="collapse"> </a>
						<a href="" ng-click="reload()" class="reload"> </a>
					</div>
				</div>
				<div class="portlet-body form">
					<!-- BEGIN FORM-->
					<form   class="form-horizontal form-row-sepe" ng-submit="submit($parent.organization)" name="userForm" novalidate>
						<div class="form-body">
							<div class="form-group required"
								 ng-class="{ 'has-error': userForm.nombre.$touched && userForm.nombre.$invalid }">
								<div class="col-md-4">
									<label class="control-label ">Nombre</label>
									<input type="text" placeholder="Nombre de la organizacion..." required name="nombre"
										   data-required-error= "Especifique nombre de organizacion" minlength="3" maxlength="45"
										   ng-model="organization.name" class="form-control">
									<div class="help-block" ng-messages="userForm.nombre.$error"
										 ng-if="userForm.nombre.$touched">
										<p ng-message="minlength">Nombre demasiado corto.</p>
										<p ng-message="maxlength">Nombre demasiado largo.</p>
										<p ng-message="required">Nombre requerido.</p>
									</div>
								</div>
							</div>
							<div class="form-group required"
								 ng-class="{ 'has-error': userForm.descripcion.$touched && userForm.descripcion.$invalid }">
								<div class="col-md-4">
									<label class="control-label ">Descripcion</label>
									<input type="text" placeholder="Descripcion..." required name="descripcion"
										   data-required-error= "Especifique descripcion" maxlength="191" minlength="3"
										   ng-model="organization.description" class="form-control">
									<div class="help-block" ng-messages="userForm.descripcion.$error"
										 ng-if="userForm.descripcion.$touched">
										<p ng-message="minlength">Apellidos demasiados cortos.</p>
										<p ng-message="maxlength">Apellidos demasiados largos.</p>
										<p ng-message="required">Apellidos requeridos.</p>
									</div>
								</div>

							</div>


							<button class="btn btn-primary" type="submit">{{$parent.settings.action}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="required-field-block">


	<div class="required-icon">
		<div class="text">*</div>
	</div>
</div>


</div>
<script>
	ComponentsDateTimePickers.init(); // init todo page
</script>
<style>
	.form-group.required .control-label:before {
		content:"*";
		color:red;
	}
</style>
