<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="configuracion">{{'CONFIGURATIONS' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="pais">{{'EVENT_OBJECT.COUNTRY' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<!---END PAGE HEADER-->
<div ng-controller="ConfiguracionesController">
    <h3 class="page-title">{{$parent.settings.pageTitle}}</h3>

    <p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>{{'COUNTRY.COUNTRY_DATA' | translate}} </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="reload"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <!-- BEGIN FORM-->
                        <form   class="form-horizontal form-row-sepe" ng-submit="submit($parent.country)" name="paisForm" >
                            <div class="form-body">
                                <div class="form-group required"></div>
                                <div class="form-group required"
                                     ng-class="{ 'has-error': paisForm.name.$touched && paisForm.name.$invalid }">
                                    <div class="col-md-4">
                                        <label class="control-label ">{{'COUNTRY.NAME' | translate}}</label>
                                        <input type="text" placeholder="{{'COUNTRY.NAME' | translate}}..." required name="name"
                                               data-required-error= "{{'ERROR.NAME_ERR_REQ' | translate}}" minlength="3" maxlength="100"
                                               ng-model="country.name" class="form-control">
                                        <div class="help-block" ng-messages="paisForm.name.$error"
                                             ng-if="paisForm.name.$touched">
                                            <p ng-message="minlength">{{'ERROR.NAME_ERR_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.NAME_ERR_MAXL' | translate}}</p>
                                            <p ng-message="required">{{'ERROR.NAME_ERR_REQ' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-12">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail" style="width: 350px; height: 150px;">
                                                <img src="{{(country.picture == null) ? 'https://www.placehold.it/500x250/EFEFEF/AAAAAA&amp;text=Select+image' : country.picture}}"
                                                     alt="" /></div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"
                                                 data-trigger="fileinput"
                                                 style="max-width: 500px; max-height: 250px;"></div>
                                            <div>
                                                            <span class="btn default btn-file">
                                                                <span class="fileinput-new" > {{'SELECT_IMAGE' | translate}} </span>
                                                                <span class="fileinput-exists" > {{'CHANGE_IMAGE' | translate}} </span>
                                                                <input type="file" file-model="$parent.file"> </span>
                                                <a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
                                                    {{'DELETE' | translate}} </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="$parent.settings.error" class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" onclick="$('.alert').hide()" aria-label="close">×</a>
                                    {{$parent.settings.error}}</div>

                                <button class="btn btn-primary" onclick="$('.alert').show()" type="submit">{{$parent.settings.action}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="required-field-block">


        <div class="required-icon">
            <div class="text">*</div>
        </div>
    </div>


</div>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>
<style>
    .form-group.required .control-label:before {
        content:"*";
        color:red;
    }
</style>