<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="finanzas">{{'FINANCES' | translate}}</a>
        </li>
    </ul>
</div>
<!---END PAGE HEADER-->
<div ng-controller="payEventosController" id="payEvent">
    <h3 class="page-title">{{'FINANCE.PAY_EVENT' | translate}}</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>{{'FINANCE.PAYMENT_INFORMATION' | translate}}
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="reload"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <!-- BEGIN FORM-->
                        <form class="form-horizontal form-row-sepe" ng-submit="submit()" name="payForm">
                            <div class="form-body">
                                <div class="form-group required"></div>
                                <div class="form-group required"
                                     ng-class="{ 'has-error': payForm.ref.$touched && payForm.ref.$invalid }">
                                    <div class="col-md-4">
                                        <label class="control-label ">{{'FINANCE.REFERENCE' | translate}}</label>
                                        <input type="text" placeholder="{{'FINANCE.REFERENCE' | translate}}..." required
                                               name="ref"
                                               data-required-error="{{'ERROR.REFERENCE_REQ' | translate}}" minlength="3"
                                               maxlength="20"
                                               ng-model="referencia" class="form-control">
                                        <div class="help-block" ng-messages="payForm.ref.$error"
                                             ng-if="payForm.ref.$touched">
                                            <p ng-message="minlength">{{'ERROR.REFERENCE_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.REFERENCE_MAXL' | translate}}</p>
                                            <p ng-message="required">{{'ERROR.REFERENCE_REQ' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group required"
                                     ng-class="{ 'has-error': payForm.date.$touched && payForm.date.$invalid }">
                                    <div class="col-md-6">
                                        <label for="inputDate" class="control-label">{{'EVENT_OBJECT.DATE' |
                                            translate}}</label>
                                        <div class="input-group input-medium date date-picker"
                                             data-date-format="yyyy-mm-dd">
                                            <input type="text" class="form-control" id="inputDate" name="date"
                                                   ng-model="fecha" required readonly>
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="help-block" ng-messages="payForm.date.$error"
                                             ng-if="payForm.date.$touched">
                                            <p ng-message="required">{{'ERROR.DATE_REQ' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">{{'ACEPT' | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="messageModal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" ng-if="!settings.error">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{'TRANSACTION_SUCCESS' | translate}}</h4>
                </div>
                <div class="modal-header" ng-if="settings.error">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{'TRANSACTION_ERROR' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-if="settings.error" class="alert alert-danger">
                        <a href="#" class="close" aria-label="close">×</a>
                        {{$parent.settings.error}}
                    </div>
                    <div ng-if="settings.success" class="alert alert-success">
                        <a href="#" class="close" aria-label="close">×</a>
                        {{$parent.settings.success}}
                    </div>
                    <!--<div class="row" style="padding-left: 10%" ng-if="settings.error_desc">-->
                        <!--<div><label class="control-label " style="display: block;">ERROR: {{settings.error_desc}}</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row">
                        <br>
                    </div>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">{{'CANCEL' | translate}}</button>-->
                    <button type="button" class="btn btn-primary"
                            ng-click="changePage()" data-dismiss="modal">
                        <i class="fa fa-check"></i> {{'ACEPT' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#messageModal').on('hidden.bs.modal', function () {
        if (!angular.element($("#payEvent")).scope().settings.error) {
            window.history.back();
        }
    });
    function openModal() {
        //$('#messageModal').modal('toggle');
        console.log('ok');
        $('#messageModal').modal('show');
    }
    ;
    ComponentsDateTimePickers.init(); // init todo page

</script>

