<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="configuracion">{{'CONFIGURATIONS' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="ciudad">{{'SEND_NOTIFICATION' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<!---END PAGE HEADER-->
<div ng-controller="ConfiguracionesController">
    <h3 class="page-title">{{$parent.settings.pageTitle}}</h3>

    <p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>{{'NOTIFICATION' | translate}} </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="reload"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <!-- BEGIN FORM-->
                        <form   class="form-horizontal form-row-sepe" ng-submit="submit($parent.mensaje)" name="notificationForm" >
                            <div class="form-body">
                                <div class="form-group required"></div>
                                <div class="form-group required"
                                     ng-class="{ 'has-error': notificationForm.descripcion.$touched && notificationForm.descripcion.$invalid }">
                                    <div class="col-md-8">
                                        <label class="control-label ">{{'EVENT_OBJECT.DESCRIPTION' | translate}}</label>
                                        <textarea type="text" name="descripcion" style="height: 100px"
                                                  data-required-error="{{'ERROR.DESCRIP_REQ' | translate}}"
                                                  placeholder="{{'EVENT_OBJECT.PLACEHOLDERS.DESCRIPTION' | translate}}..."
                                                  minlength="3" maxlength="1000" required
                                                  ng-model="mensaje.description"
                                                  class="form-control"></textarea>
                                        <div class="help-block" ng-messages="notificationForm.descripcion.$error"
                                             ng-if="notificationForm.descripcion.$touched">
                                            <p ng-message="minlength">{{'ERROR.DESCRIP_MINL' | translate}}</p>
                                            <p ng-message="maxlength">{{'ERROR.DESCRIP_MAXL' | translate}}</p>
                                            <p ng-message="required">{{'ERROR.DESCRIP_REQ' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="$parent.settings.error" class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" onclick="$('.alert').hide()" aria-label="close">×</a>
                                    {{$parent.settings.error}}</div>

                                <button class="btn btn-primary" onclick="$('.alert').show()" type="submit">{{$parent.settings.action}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="required-field-block">
    </div>


</div>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>
<style>
    .form-group.required .control-label:before {
        content:"*";
        color:red;
    }
</style>