<!-- INICIO DE PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<a ui-sref="dashboard">Inicio</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a ui-sref="dashboard">Panel de Administración</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a ui-sref="finanzas">Finanzas</a>
		</li>

	</ul>

</div>
<h3 class="page-title"> Slideshow </h3>
<!-- FIN DE PAGE HEADER-->
<!-- INICIO DE CONTENIDO PRINCIPAL -->
<div ng-controller="FinanzaController">
	<div class="row">
		<div class="col-md-12">
		<!-- BEGIN PORTLET-->
			<div class="portlet box blue-hoki">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-money"></i>Cobranza </div>
					<div class="tools">
						<a href="javascript:;" class="collapse"> </a>
				</div>
			</div>
				<div class="portlet-body form">
					<form action="#" id="form-cobranza" name="cobranzaForm" class="form-horizontal form-bordered">
						<div class="form-group required"
							 ng-class="{ 'has-error': cobranzaForm.monto.$touched && cobranzaForm.monto.$invalid }">
							<div class="col-md-4">
								<label class="control-label ">Monto</label>
								<input type="text" placeholder="monto a cobrar..." required name="monto"
									   data-required-error= "Especifique monto"
									   ng-model="user.usua_nombre" class="form-control">
								<div class="help-block" ng-messages="cobranzaForm.monto.$error"
									 ng-if="cobranzaForm.monto.$touched">

									<p ng-message="required">Monto requerido.</p>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn purple">
										<i class="fa fa-check"></i> Guardar</button>
									<button type="button" class="btn default">Cancelar</button>
								</div>
							</div>
						</div>
					</form>
			</div>
			</div>
		<!-- END PORTLET-->
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		<!-- BEGIN PORTLET-->
			<div class="portlet box purple">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-exchange"></i>Reembolzo </div>
					<div class="tools">
						<a href="javascript:;" class="collapse"> </a>
				</div>
			</div>
				<div class="portlet-body form">
					<form action="#" id="form-reembolzo" name="cobranzaForm" class="form-horizontal form-bordered">
						<div class="form-group">
							<label class="control-label col-md-3">Usuario</label>
							<div class="col-md-4">
								<select class="form-control input-xlarge select2me" data-placeholder="Seleccione...">
									<option value=""></option>
									<option value="AL">Alabama</option>
									<option value="WY">Wyoming</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Evento</label>
							<div class="col-md-4">
								<select class="form-control input-xlarge select2me" data-placeholder="Seleccione...">
									<option value=""></option>
									<option value="AL">Alabama</option>
									<option value="WY">Wyoming</option>
								</select>
							</div>
						</div>
						<div class="form-group required"
							 ng-class="{ 'has-error': cobranzaForm.monto.$touched && cobranzaForm.monto.$invalid }">
							<div class="col-md-4">
								<label class="control-label ">Monto</label>
								<input type="text" placeholder="monto a cobrar..." required name="monto"
									   data-required-error= "Especifique monto"
									   ng-model="user.usua_nombre" class="form-control">
								<div class="help-block" ng-messages="cobranzaForm.monto.$error"
									 ng-if="cobranzaForm.monto.$touched">

									<p ng-message="required">Monto requerido.</p>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn blue-hoki">
										<i class="fa fa-check"></i> Guardar</button>
									<button type="button" class="btn default">Cancelar</button>
								</div>
							</div>
						</div>
					</form>
			</div>
			</div>
		<!-- END PORTLET-->
		</div>
	</div>

	<div class="required-field-block">


		<div class="required-icon">
			<div class="text">*</div>
		</div>
	</div>
</div>
<style>
	.form-group.required .control-label:before {
		content:"*";
		color:red;
	}
</style>
