<!-- INICIO DE HEADER DE LA PAGINA-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="eventosT">{{'EVENTS' | translate}}</a>
        </li>
    </ul>
</div>
<!--<h3 class="page-title"> Eventos </h3>-->
<!-- FIN DE HEADER DE LA PAGINA-->
<!-- INICIO DE CONTENIDO PRINCIPAL -->
<div ng-controller="TicketsController">

    <div class="row">

        <div class="col-md-12" ng-if="true">
            <!-- INICIO DE CONTENEDOR DE LA TABLA-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-calendar-o font-dark"></i>
                        <span class="caption-subject bold uppercase"> {{'ASSISTANTS' | translate}} </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column"
                               datatable="ng" dt-options="vm.dtOptions" width="100%" id="sample_1">
                            <thead>
                            <tr>
                                <th> {{'EVENT_OBJECT.USER' | translate}}</th>
                                <th> {{'EVENT_OBJECT.CODE' | translate}}</th>
                                <th> {{'EVENT_OBJECT.NAME' | translate}}</th>
                                <th> {{'EVENT_OBJECT.STATUS' | translate}}</th>
                                <th> {{'EVENT_OBJECT.DATE' | translate}}</th>
                                <th> {{'EVENT_OBJECT.PRICE' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" ng-repeat="ticket in tickets">
                                <td> {{ticket.user.first_name}} {{ticket.user.last_name}}</td>
                                <td> ****{{ticket.codeSmall}}****</td>
                                <td> {{ticket.entrance}}</td>
                                <td> {{ticket.checked == 0 ? 'Pending' : 'Checked'}}</td>
                                <td> {{ticket.date| date: 'EEE, dd MMM, hh:mm a'}}</td>
                                <td> ${{ticket.price | number:2}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- FINAL DE CONTENEDOR DE TABLA-->
        </div>

    </div>
</div>
