<!-- INICIO DE HEADER DE LA PAGINA-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="users">{{'USERS' | translate}}</a>
        </li>
    </ul>
</div>
<h3 class="page-title">{{'USERS' | translate}}</h3>
<!-- FIN DE HEADER DE LA PAGINA-->
<!-- INICIO DE CONTENIDO PRINCIPAL -->
<div ng-controller="UsersController">

<div class="row">
    <div class="col-md-12" ng-if="true">
        <!-- INICIO DE CONTENEDOR DE LA TABLA-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-user font-dark"></i>
                    <span class="caption-subject bold uppercase"> {{'USERS' | translate}} </span>
                </div>
            </div>
                <!--INICIO DE TABLA DE USUARIOS-->
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       datatable="ng" dt-options="vm.dtOptions" id="sample_1">
                    <thead>
                    <tr>
                        <th> {{'USER.FIRST_NAME' | translate}} </th>
                        <th> {{'USER.LAST_NAME' | translate}} </th>
                        <th> {{'USER.EMAIL' | translate}} </th>
                        <th> {{'USER.PHONE' | translate}} </th>
                        <th> {{'USER.ACTIONS' | translate}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX" ng-repeat="user in users" ng-If="user.activated == 0 || user.activated == 1">
                        
                        <td> {{user.first_name}} </td>
                        <td> {{user.last_name}} </td>
                        <td>
                            <a href="mailto:{{user.email}}"> {{user.email}} </a>
                        </td>
                        <td class="center"> {{user.phone_number}}
                        <td>
                            <div class="pull-right action-buttons">
                                <a ng-If="user.activated == 0"  ng-click="activarUsuario(user.id)" title="Activate user">
                                    <span class="glyphicon glyphicon-ok"></span> </a>
                                <a ui-sref="edUser({ id: {{user.id}} })" title="Edit user information"><span class="glyphicon glyphicon-edit"></span> </a>
                                <a ng-click="bajaUsuario(user.id)" title="Dar de baja">
                                    <span class="glyphicon glyphicon-trash"></span> </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- FINAL DE CONTENEDOR DE TABLA-->
    </div>



    <div class="row">
            <div class="col-md-12" ng-if="true">
                <!-- INICIO DE CONTENEDOR DE LA TABLA-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-user font-dark"></i>
                            <span class="caption-subject bold uppercase"> {{'USER.TERM_USERS' | translate}}</span>
                        </div>
                    </div>
                        <!--INICIO DE TABLA DE USUARIOS-->
                        <table class="table table-striped table-bordered table-hover table-checkable order-column"
                               datatable="ng" dt-options="vm2.dtOptions" id="sample_2">
                            <thead>
                            <tr>
                                <th> {{'USER.FIRST_NAME' | translate}} </th>
                                <th> {{'USER.LAST_NAME' | translate}} </th>
                                <th> {{'USER.EMAIL' | translate}} </th>
                                <th> {{'USER.PHONE' | translate}} </th>
                                <th> {{'USER.ACTIONS' | translate}} </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" ng-repeat="user in users" ng-If="user.activated == 2 ">
                                
                                <td> {{user.first_name}} </td>
                                <td> {{user.last_name}} </td>
                                <td>
                                    <a href="mailto:{{user.email}}"> {{user.email}} </a>
                                </td>
                                <td class="center"> {{user.phone_number}}
                                <td>
                                    <div class="pull-right action-buttons">
                                        <a ng-If="user.activated == 2"  ng-click="activarUsuario(user.id)" title="Activar usuario">
                                            <span class="glyphicon glyphicon-ok"></span> </a>
                                        <a ui-sref="edUser({ id: {{user.id}} })" title="Editar datos usuario">
                                            <span class="glyphicon glyphicon-edit"></span> </a>
                                        <!--<a ng-click="bajaUsuario(user.id)"><span class="glyphicon glyphicon-trash"></span> </a>-->
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- FINAL DE CONTENEDOR DE TABLA-->
            </div>

	<div class="row">
		<div class="col-md-12" ng-if="true">
			<!-- INICIO DE CONTENEDOR DE LA TABLA-->
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption font-dark">
						<i class="fa fa-user font-dark"></i>
						<span class="caption-subject bold uppercase"> {{'USER.ROLES' | translate}}</span>
					</div>
				</div>
				<!--INICIO DE TABLA DE USUARIOS-->
				<table class="table table-striped table-bordered table-hover table-checkable order-column"
					   datatable="ng" dt-options="vm3.dtOptions" id="sample_3">
					<thead>
					<tr>
						<th> {{'USER.NAME' | translate}} </th>
						<th> {{'USER.DESCRIPTION' | translate}} </th>
						<!--<th> Acciones </th>-->
					</tr>
					</thead>
					<tbody>
					<tr class="odd gradeX" ng-repeat="rol in roles" >

						<td> {{rol.name}} </td>
						<td> {{rol.description}} </td>
						<!--<td>-->
							<!--<div class="pull-right action-buttons">-->
								<!--<a ng-If="user.activated == 2"  ng-click="activarUsuario(user.id)"><span class="glyphicon glyphicon-ok"></span> </a>-->
								<!--<a ui-sref="edUser({ id: {{user.id}} })"><span class="glyphicon glyphicon-edit"></span> </a>-->
								<!--&lt;!&ndash;<a ng-click="bajaUsuario(user.id)"><span class="glyphicon glyphicon-trash"></span> </a>&ndash;&gt;-->
							<!--</div>-->
						<!--</td>-->
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- FINAL DE CONTENEDOR DE TABLA-->
	</div>
</div>


</div>
<!-- INICIO DE CONTENIDO PRINCIPAL-->
