<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_INIT' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">{{'PAGE_BAR_DASH' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="users">{{'USERS' | translate}}</a>
        </li>
    </ul>
</div>
<!---END PAGE HEADER-->
<div ng-controller="UsersController">
    <h3 class="page-title">{{$parent.settings.pageTitle}}</h3>

    <p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>{{'USER.USER_INFO' | translate}} </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="" ng-click="reload()" class="reload"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form   class="form-horizontal form-row-sepe" ng-submit="submit($parent.user)" name="userForm" >
                    <div class="form-body">
                        <div class="form-group required"></div>
                        <div class="form-group required"
                             ng-class="{ 'has-error': userForm.selecTius.$touched && userForm.selecTius.$invalid }">
                            <div class="col-md-3">
                                <label class="control-label ">{{'USER.STATUS' | translate}}</label>
                                <select class="form-control input-small select2me" name="selecTius" required
                                        ng-model="user.activated" >
                                    <option value="">{{'USER.SELECT' | translate}} ...</option>
                                    <option value="0" ng-selected="user.activated == 0">{{'USER.INACTIVE' | translate}}</option>
                                    <option value="1" ng-selected="user.activated == 1">{{'USER.ACTIVE' | translate}}</option>
                                    <option value="2" ng-selected="user.activated == 2">{{'USER.TERMINATE' | translate}}</option>
                                </select>
                                <div class="help-block" ng-messages="userForm.selecTius.$error"
                                     ng-if="userForm.selecTius.$touched">
                                    <p ng-message="required">{{'ERROR.USER_ERR_SELECT' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required"
                             ng-class="{ 'has-error': userForm.nombre.$touched && userForm.nombre.$invalid }">
                            <div class="col-md-4">
                                <label class="control-label ">{{'USER.FIRST_NAME' | translate}}</label>
                                <input type="text" placeholder="{{'USER.PLACEHOLDERS.NAME' | translate}}..." required name="nombre"
                                       data-required-error= "{{'ERROR.NAME_ERR_REQ' | translate}}" minlength="3" maxlength="45"
                                       ng-model="user.first_name" class="form-control">
                                <div class="help-block" ng-messages="userForm.nombre.$error"
                                     ng-if="userForm.nombre.$touched">
                                    <p ng-message="minlength">{{'ERROR.NAME_ERR_MINL' | translate}}</p>
                                    <p ng-message="maxlength">{{'ERROR.NAME_ERR_MAXL' | translate}}</p>
                                    <p ng-message="required">{{'ERROR.NAME_ERR_REQ' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required"
                             ng-class="{ 'has-error': userForm.apellidos.$touched && userForm.apellidos.$invalid }">
                            <div class="col-md-4">
                                <label class="control-label ">{{'USER.LAST_NAME' | translate}}</label>
                                <input type="text" placeholder="{{'USER.PLACEHOLDERS.LAST_NAME' | translate}}..." required name="apellidos"
                                       data-required-error= "{{'ERROR.LAST_NAME_REQ' | translate}}" maxlength="45" minlength="3"
                                       ng-model="user.last_name" class="form-control">
                                <div class="help-block" ng-messages="userForm.apellidos.$error"
                                     ng-if="userForm.apellidos.$touched">
                                    <p ng-message="minlength">{{'ERROR.LAST_NAME_MINL' | translate}}</p>
                                    <p ng-message="maxlength">{{'ERROR.LAST_NAME_MAXL' | translate}}</p>
                                    <p ng-message="required">{{'ERROR.LAST_NAME_REQ' | translate}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="form-group required "
                             ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
                            <div class="col-md-6">
                            <label for="inputEmail" class="control-label">{{'USER.EMAIL' | translate}}</label>
                            <input type="email" class="form-control" id="inputEmail"  name="email" ng-model="user.email"
                                   placeholder="{{'USER.PLACEHOLDERS.EMAIL' | translate}}" minlength="5" maxlength="45" required>
                                <div class="help-block" ng-messages="userForm.email.$error"
                                     ng-if="userForm.email.$touched">
                                    <p ng-message="minlength">{{'ERROR.LAST_NAME_MINL' | translate}}</p>
                                    <p ng-message="maxlength">{{'ERROR.EMAIL_ERR_MAXL' | translate}}</p>
                                    <p ng-message="required">{{'ERROR.EMAIL_ERR_REQ' | translate}}</p>
                                    <p ng-message="email">{{'ERROR.EMAIL_ERR_EMAIL' | translate}} </p>
                                </div>
                        </div>
                        </div>
                        <div class="form-group required"
                             ng-class="{ 'has-error': userForm.fechaNac.$touched && userForm.fechaNac.$invalid }">
                            <div class="col-md-6">
                                <label for="inputDate" class="control-label">{{'USER.BIRTHDATE' | translate}}</label>
                            <div class="input-group input-medium date date-picker"  data-date-format="yyyy-mm-dd" >
                                <input type="text" class="form-control" id="inputDate" name="fechaNac"
                                         ng-model="user.birth_date" required readonly>
                                <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                            </div>
                               <div class="help-block" ng-messages="userForm.fechaNac.$error"
                                ng-if="userForm.fechaNac.$touched">
                                <p ng-message="required">{{'ERROR.BIRTH_ERR_REQ' | translate}}</p>

                            </div>

                        </div>
                        </div>

                        <button class="btn btn-primary" type="submit">{{$parent.settings.action}}</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>



    <div class="required-field-block">


        <div class="required-icon">
            <div class="text">*</div>
        </div>
    </div>


</div>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>
<style>
    .form-group.required .control-label:before {
        content:"*";
        color:red;
    }
</style>
